a { color:#0066CC; }
li a.active { color:#0066cc; }
hr { background-color:#003366; }
body { font-family: Arial, Helvetica, sans-serif; font-size:1em; background-color:white; }
html { font-size:100%; }

@media screen and (min-width:500px) {
	body { font-size:13px; }
	li.mbLogo, li.urLogo { font-weight:bold; }
	#sidebar-first { border-left:1px solid #ccc; }
}

/*heading 1*/
h1 {
	font-size:1.5em; font-weight:bold; font-family: helvetica, serif;
	margin:0 0 .25em 0; padding:0; clear:both; color:black;
}


#site_name h1 { font-size:1.25em; clear:both;  }


#page-title { color:darkred;  }

/*heading 2*/
h2 {
	font-family: helvetica, serif; font-size:1.4em; font-weight:bold;
	margin:0 0 .25em 0; color:darkred; 
}

#sidebar-first  h2 { font-size:1.4em; padding:0 .25em 0 0; color:black; }
#sidebar-second h2 { font-size:1.2em; }
#sidebar-first h2 a { color:black; }


/*heading 3*/
h3 {
	font-size:1.2em; font-weight:bold;
	margin:0 0 .5em 0; padding:0;
}

h3 a { color:black; }
#sidebar-first h3 { font-size:1em; font-weight:bold; }

/*heading 4 */
h4 {
	font-size:1.2em; font-weight:bold;
	margin:0 0 .5em 0px; padding:0;
}

h4 a { color:black; }
#sidebar-first h4 { font-size:1.1em; }
.megadropdown-region h4 {
	font-size:1.1em; font-weight:bold;
	color:#810303;
	margin:.4em 0;
}

h5 {
	font-size:1em; font-weight:bold;
	margin: 0 0 .5em 0;
}

legend { background-color:#5a8fdc; font-size:1.1em; color:white; }
table { border:1px solid #999999; }
td { background-color:inherit; border:1px solid #ddd;  }
th { border:1px solid #ddd; background-color:#efefef; font-weight:bold;  }

#header a { color:black; }
#breadcrumb { background-color:#efefef; }
.breadcrumb { color:black; }
.breadcrumb li a { color:black; }
#main-menu a { color:white; }
#title { background-color:#efefef; }
#edit-search-block-form--2 input { border:2px solid grey; }
#edit-submit--2 { background-color:darkred; color:white; font-weight:bold; border:2px solid darkred;  }


#headerLinks { font-size:.9em; }

/* menuBar Styles */

.megadropdown { background-color:#003366; }

@media screen and (min-width:500px) {
	#headerLinks { background-color:inherit; font-size:1em; }

	* { -webkit-text-size-adjust: 100%; }
a.main-nav-tab { font-size:1.2em; font-family: arial,sans-serif; color:white; }
.sm-links a { font-size:1.3em; color:white; }
.megadropdown > li  { font-size:1em; }
.megadropdown-region li { color:black; }
.megadropdown-region h4 { color:#810303; }
}

#content { font-size:1em; }
#footer { border-top:1px solid #cccccc; color:#003366; font-size:.9em; }
#content th a { color:#3366cc; background-color:inherit; }

#sidebar-second .block { background-color:#eee; }
.block .field-label { font-size:1.1em; }
#sidebar-first .block { border-bottom:1px solid #ccc; }

.node-program.node-teaser { border-bottom:1px solid #ccc; }