a { color:#0066CC; }
hr { background-color:#003366; }
body { font-family: Arial, Helvetica, sans-serif; font-size:1em; background-color:white; }

@media screen and (min-width:500px) {
	body { font-size:13px; }
	li.mbLogo, li.urLogo { font-weight:bold; }
	#main-content { border-right:1px solid #ccc; }
}

html { font-size:100%; }

/*heading 1*/
h1 {
	font-size:1.5em; font-weight:bold; font-family: georgia, serif;
	margin:0 0 .25em 0; padding:0; clear:both; color:black;
}
#site_name h1 { font-size:1.25em; }
#page-title{ color:darkred;  }

/*heading 2*/
h2 {
	font-family: georgia, serif; font-size:1.4em; font-weight:bold;
	margin:0 0 .25em 0; color:darkred; 
}

#sidebar-first  h2 { font-size:1.4em; padding:0 .25em 0 0; color:black; }
#sidebar-second h2 { font-size:1.2em; }
#sidebar-first h2 a { color:black; }


/*heading 3*/
h3 {
	font-size:1.2em; font-weight:bold;
	margin:0 0 .5em 0; padding:0;
}

h3 a { color:black; }
#sidebar-first h3 { font-size:1em; font-weight:bold; }
.teaserView h3 { font-size:1em; font-weight:bold; }

/*heading 4 */
h4 {
	font-size:1.2em; font-weight:bold;
	margin:0 0 .5em 0px; padding:0;
}

h4 a { color:black; }
#sidebar-first h4 { font-size:1.1em; }
.megadropdown-region h4 {
	font-size:1.1em; font-weight:bold;
	color:#810303;
	margin:.4em 0;
}

h5 {
	font-size:1em; font-weight:bold;
	margin: 0 0 .5em 0;
}

legend { background-color:#5a8fdc; color:white; }
table { border:1px solid #999999; }
td { background-color:inherit; border:1px solid #999999; font-weight:bold; }
th { border:1px solid #999999; background-color:#e0e0e0;  }

#banner a { color:black; }
#breadcrumb { background-color:#efefef; }
.breadcrumb { color:black; }
.breadcrumb li a { color:black; }
#main-menu a { color:white; }
#title { background-color:#efefef; }
#edit-search-block-form--2 input { border:2px solid grey; }
#edit-submit { background-color:darkred; color:white; border:2px solid darkred;  }

/* menuBar Styles */

@media screen and (min-width:500px) {
	* { -webkit-text-size-adjust: 100%; }
a.main-nav-tab { font-size:1.2em; font-family: arial,sans-serif; color:white; }
.sm-links a { font-size:1.3em; color:white; }
.megadropdown > li  { font-size:1em; }
.megadropdown { background-color:#003366; }
.megadropdown-region li { color:black; }
.megadropdown-region h4 { color:#810303; }
}

#content {font-size:1em; }
#footer { border-top:1px solid #cccccc; color:#003366; font-size:.9em; }
#content table { border:1px solid #999999; }
#content td { background-color:inherit; border:1px solid #999999; }
#content th { background-color:#e0e0e0; border:1px solid #999999; }
#content th a { color:#3366cc; background-color:inherit; }

.sidebar-item { background-color:#eee; }
.sidebar-item .field-label { font-size:1.1em; }
#sidebar-first .block { border-top:1px solid #ccc; }
