.megadropdown-region { display:none; }

@media only screen and (min-device-width:800px) and (min-width:800px)
{
	.megadropdown {
		list-style-type:none; display:inline-block;
		padding:0; margin:.25em 0; width:100%; position:relative;
	}
	a.withDD { background:url('../images/arrow.png') right no-repeat; padding-right:15px; }
	.megadropdown ul { margin:0; padding:0; }
	.main-nav-item { display:table-cell; margin:0; border-right:1px solid white; }
	a.main-nav-tab { margin:.5em; display:block; line-height:1.6em; }
	li.sm-links { display:table-cell; padding:.5em .5em; height:1.2em; }
	.sm-links a { display:inline-block; vertical-align:middle; }
	.megadropdown-region {
		position:absolute;
		left:0;
		color:black;
		background-color:white;
		border:2px solid #003366;
		z-index:35;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display:none;
	}
	.smleft { float:left; width:77%; padding:.5%; }
	.smright {float:left; width:20%; padding:.5%; }
	.fourcolumns { 
		margin:0 0 .5em 0; 
		-webkit-column-count:4; -moz-column-count:4; column-count:4;
		min-width:250px;
	}
	.fivecolumns { 
		margin:0 0 .5em 0; 
		-webkit-column-count:5; -moz-column-count:5; column-count:5;
		column-gap:0; -moz-column-gap:0; -webkit-column-gap:0;
		min-width:250px;
	}
		.threecolumns { 
		margin:0 0 .5em 0; 
		-webkit-column-count:3; -moz-column-count:3; column-count:3;
		column-gap:0; -moz-column-gap:0; -webkit-column-gap:0;
		min-width:250px;
	}
	.nav-button { display: none; } /* hide the navigation button by default */
	.main-nav-item-active .megadropdown-region { display:block; }
	.main-nav-item-active .megadropdown-region { display:block; width:100%; }
}

	
	.megadropdown .megadropdown-region table { border:0; }
	.megadropdown .megadropdown-region tr { border:0; }
	.megadropdown .megadropdown-region td { border:0; padding:5px 8px; }
	
	.megadropdown form { margin:0; padding:0; display:inline; height:1em; }
	.megadropdown form fieldset { margin:0; padding:0; border:0; display:inline; }
	.megadropdown .megadropdown-region li { display:block; float:none; margin:.5em 0; }
	
	
	
	.item { display:inline-block; }
	

@media only screen and (max-width: 799px)  {

/* Navigation Button
	-------------------------------------------------------- */

		#mobileMenu { width:20%; height:3em; margin-left:78%; }

	.megadropdown-region {
	background:white; 
	}
	.nav-button {
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		border: 0 none;
		z-index: 999;
		color:#003366;
		padding:0;
		margin:.25em;
		background: url('../images/listwhite.png') center center no-repeat #003366;
	}
	

	.nav-button.open {
		background-image: url('../images/close-icon-large.png');
		background-position: center center;
		background-repeat: no-repeat;
		text-indent:-1000px;
	}
	.primary-nav li {
		display: none;
		width: 100%;
		font-family: Arial;
	}
	.primary-nav li a {
		display: block;
		width: 90%;
		padding: 10px 2%;
		font-size: 1.2em;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
		border-top: 1px solid rgba(255,255,255,.1); 
	}
	.primary-nav li a:hover {
		background-color: rgba(0,0,0,.5);
		border-top-color: transparent;
	}
	.primary-nav > li:first-child {
		border-top: 1px solid rgba(0,0,0,.2);
	}

	/* Toggle the navigation bar open  */

	.primary-nav.open { 
	
	}
	.primary-nav.open li { 
		display: block; 
	}
	/* Submenus ? optional .parent class indicates dropdowns */

	.primary-nav > li:hover > a {
		background: rgba(0,0,0,.5);
		border-bottom-color: transparent;
	}
	
	.primary-nav li.parent > a:after {
		content: "";
		color: rgba(255,255,255,.5);
		float: right;
	}
	.primary-nav li.parent > a:hover {
		background: rgba(0,0,0,.75);
	}
	
	.primary-nav li ul a {
		border: 0 none;
		font-size: 1em;
		padding: 1em 2%;
		font-weight: normal;
	}
	.primary-nav li:hover ul {
		display: block;
		border-top: 0 none;
	}
}