/** Urls are relative to screen.css */
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Roboto Condensed';
section { margin: 0; }

@media all and (min-width: 1080px) { #nav1 .container, body > footer .container, main > div .container, main > section > .container { width: 1080px; margin: 0 auto; } }

#hamburger { position: fixed; clip: rect(0, 0, 0, 0); }

label[for="hamburger"] { position: fixed; top: 0.5em; left: 0.5em; width: 2em; height: 2em; background-image: url("images/fa-svg/white/bars.svg"); background-size: contain; z-index: 1; cursor: pointer; }

#hamburger:checked ~ nav { margin: 0; }

#hamburger:checked ~ header, #hamburger:checked ~ main, #hamburger:checked ~ footer { -webkit-transform: translateX(17em); -moz-transform: translateX(17em); -ms-transform: translateX(17em); transform: translateX(17em); }

#nav1, body > header, body > main, body > footer { transition: all 200ms ease-in; }

#nav1 { position: fixed; top: 0; left: 0; width: 17em; height: 100%; margin: 0 0 0 -17em; background-color: #315da6; }

#nav1 .container { padding-top: 3em; }

#nav1 .container a { color: #fff; }

@media all and (min-width: 640px) { #hamburger, label[for="hamburger"] { display: none; }
  #nav1 { position: static; width: 100%; height: auto; margin: 0; background-color: #fff; }
  #nav1 .container { padding: 0; overflow: auto; text-align: center; }
  #nav1 .container a { color: #183365; float: none; } }

body > header { color: #fff; padding: 0; }

body > header > .container { background-color: #183365; }

body > header > .container section, body > header > .container form { display: inline-block; }

body > header h1 { color: #fff; font-weight: bold; }

body > header a { color: #fff; }

#block-cob-cob-search-form { float: right; }

/** Styles for markup that only shows up for users that are logged in This is stuff like the View/Edit/Delete buttons on content pages */
#block-cob-local-tasks { margin: 1em 0; }

#block-cob-local-tasks a { font-family: "Roboto Condensed", sans-serif; background-color: #183365; color: #fff; padding: 0.5em; border-radius: 0.5em; }

#block-cob-local-tasks a:active, #block-cob-local-tasks a:hover { color: #c9e5f7; }

#block-cob-local-tasks a.is-active { background-color: #c9e5f7; }

@media all and (min-width: 640px) { #nav1 a { display: inline-block; padding-top: 52px; background-size: auto 40px; background-position: center 0.5em; background-repeat: no-repeat; }
  #nav1 .about { background-image: url("../images/icons/about bloom icon.svg"); }
  #nav1 .news { background-image: url("../images/icons/news and event icon.svg"); }
  #nav1 .city { background-image: url("../images/icons/city govt icon.svg"); }
  #nav1 .services { background-image: url("../images/icons/services icon.svg"); } }

#services-section a, #government-section a { display: inline-block; text-align: center; vertical-align: top; padding: 7em 0.5em 0.5em 0.5em; width: 9em; margin-bottom: 0.5em; background-size: 6em; background-repeat: no-repeat; background-position: center 0.5em; }

#services-section a.contact { background-image: url("../images/icons/contact us icon.svg"); }

#services-section a.report { background-image: url("../images/icons/report issue icon.svg"); }

#services-section a.performance { background-image: url("../images/icons/performance icon.svg"); }

#services-section a.myBloomington { background-image: url("../images/icons/my bloomington icon.svg"); }

#services-section a.maps { background-image: url("../images/icons/city maps icon.svg"); }

#services-section a.water { background-image: url("../images/icons/water icon.svg"); }

#services-section a.parking_ticket { background-image: url("../images/icons/parking icon.svg"); }

#services-section a.parks { background-image: url("../images/icons/parks icon.svg"); }

#government-section a.code { background-image: url("../images/icons/Municipal code icon.svg"); }

#government-section a.budget { background-image: url("../images/icons/city budget icon.svg"); }

#government-section a.boards { background-image: url("../images/icons/boards icon.svg"); }

#government-section a.council { background-image: url("../images/icons/city council icon.svg"); }

#government-section a.contact { background-image: url("../images/icons/contact icon.svg"); }

#government-section a.elected { background-image: url("../images/icons/elected icon.svg"); }

#government-section a.public_safety { background-image: url("../images/icons/public safety icon.svg"); }

.contactInfo address, .contactInfo a { display: block; padding-left: 1.5rem; background-position: left center; background-size: 1rem; background-repeat: no-repeat; }

.contactInfo address { background-image: url("images/fa-svg/white/map-marker.svg"); }

.contactInfo a.facebook { background-image: url("images/fa-svg/white/facebook-square.svg"); }

.contactInfo a.twitter { background-image: url("images/fa-svg/white/twitter-square.svg"); }

.contactInfo a[href^="mailto:"] { background-image: url("images/fa-svg/white/envelope.svg"); }

.contactInfo a.phone { background-image: url("images/fa-svg/white/phone-square.svg"); }

.contactInfo a.fax { background-image: url("images/fa-svg/white/fax.svg"); }

#block-upcomingevents article { overflow: hidden; position: relative; height: auto; height: 5em; border: 1px solid #183365; }

#block-upcomingevents article .month, #block-upcomingevents article .monthDate { font-size: 1.25rem; font-weight: bold; }

#block-upcomingevents article .summary { font-weight: bold; white-space: nowrap; }

#block-upcomingevents article .location { white-space: nowrap; }

#block-upcomingevents article header { position: absolute; left: 0; width: 6em; height: 100%; background-color: #ffc95c; color: #fff; font-family: "Roboto Condensed", sans-serif; text-align: center; vertical-align: middle; }

#block-upcomingevents article header time { display: inline-block; }

#block-upcomingevents article > div { margin-left: 6.5em; line-height: 1.5em; }

main.front:before { box-sizing: content-box; content: ''; display: block; height: 25vh; background: url("images/downtown-small.png") no-repeat center center; background-size: cover; }

@media all and (min-width: 640px) { main.front:before { background-image: url("images/downtown-medium.png"); } }

@media all and (min-width: 1080px) { main.front:before { background-image: url("images/downtown-large.png"); } }

@media all and (min-width: 640px) { #about-section .container { background: url("../images/icons/Indiana state icon.svg") right 60% top no-repeat; background-size: auto 100%; }
  #about-section .container p { margin-left: 50%; } }

#government-section .container { text-align: center; }

#government-section a { color: #212121; }

#government-section a:hover { background-color: #4caf50; }

#news-section > .container > div { padding: 0.5em; }

#news-section .news article { border-color: #183365; border-style: solid; border-width: 0.5em 1px 1px 1px; padding: 0.5em; overflow: hidden; height: 15vh; }

@media all and (min-width: 640px) { #news-section .news article { display: inline-block; width: 45%; } }

#news-section .news article h2 { width: 48%; float: left; font-size: 1.25rem; font-weight: bold; font-family: "Lora", serif; text-align: left; }

#news-section .news article > div { width: 48%; float: left; }

#news-section .news article time { float: right; }

@media all and (min-width: 640px) { #news-section .news article { display: inline-block; width: 45%; }
  #news-section .news article:first-child { width: 93%; }
  #news-section .events article { width: 93%; } }

@media all and (min-width: 1080px) { #news-section .news { width: 55%; display: inline-block; }
  #news-section .events { width: 35%; display: inline-block; }
  #news-section > .container > div { vertical-align: top; } }

/** Styles for paragraph types defined in our Drupal site Paragraphs are a special module we installed. @see https://www.drupal.org/project/paragraphs These are not to be confused with HTML P tags.  It is unfortunate that the module happens to call itself with that name. */
.paragraph--type--info-list { text-align: center; }

@media all and (min-width: 640px) { .paragraph--type--info-card { width: 30%; display: inline-block; vertical-align: top; text-align: center; } }

#highlighted { background-color: #f7567c; color: #fff; padding: 0.5em; font-weight: bold; }

#highlighted .container { text-align: center; }

#breadcrumb { background-color: #315da6; min-height: 25vmin; background: url("images/downtown-small.png") no-repeat center center; background-size: cover; position: relative; }

#breadcrumb .container { background-color: rgba(0, 0, 0, 0.5); padding: 0.5em; }

#breadcrumb nav { font-size: 1rem; }

#breadcrumb address, #breadcrumb a { color: #fff; }

@media all and (min-width: 640px) { #breadcrumb { background-image: url("images/downtown-medium.png"); }
  #breadcrumb .container { position: absolute; bottom: 0; left: 0; right: 0; } }

@media all and (min-width: 1080px) { #breadcrumb { background-image: url("images/downtown-large.png"); } }

#block-cob-page-title h1 { font-size: 1.4rem; color: #fff; margin-top: 1em; }

.contactInfo, #block-departmentstaff, #block-cob-committeemembers > div { overflow: auto; }

.contactInfo dl, #block-departmentstaff dl, #block-cob-committeemembers > div dl { border: none; padding: 0; }

.contactInfo address, .contactInfo a, #block-departmentstaff address, #block-departmentstaff a, #block-cob-committeemembers > div address, #block-cob-committeemembers > div a { font-style: normal; }

.contactInfo > dl, .contactInfo > div, #block-departmentstaff > dl, #block-departmentstaff > div, #block-cob-committeemembers > div > dl, #block-cob-committeemembers > div > div { vertical-align: top; }

@media all and (min-width: 640px) { .contactInfo, #block-departmentstaff, #block-cob-committeemembers > div { text-align: center; font-size: 0.875rem; }
  .contactInfo h3, #block-departmentstaff h3, #block-cob-committeemembers > div h3 { margin: 0; }
  .contactInfo > dl, .contactInfo > div, #block-departmentstaff > dl, #block-departmentstaff > div, #block-cob-committeemembers > div > dl, #block-cob-committeemembers > div > div { display: inline-block; }
  .contactInfo > dl:not(:last-child), .contactInfo > div:not(:last-child), #block-departmentstaff > dl:not(:last-child), #block-departmentstaff > div:not(:last-child), #block-cob-committeemembers > div > dl:not(:last-child), #block-cob-committeemembers > div > div:not(:last-child) { margin-right: 2em; }
  .contactInfo > div, #block-departmentstaff > div, #block-cob-committeemembers > div > div { width: 15em; margin-bottom: 1em; } }

@media all and (min-width: 1080px) { .contactInfo, #block-departmentstaff, #block-cob-committeemembers > div { width: 1080px; margin: 0 auto; } }

.contactInfo dt, #block-departmentstaff dt { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

#block-cob-committeemembers dt { float: none; display: inline-block; }

#content > .container { padding: 0.5em; }

#content > .container > section { padding: 0.5em 0; }

#content > .container > section header { text-align: center; background-size: 100% 2px; background-position: left center; background-repeat: no-repeat; }

#content > .container > section h2 { display: inline; padding: 0 0.5em; }

#content > .container > section .container { overflow: auto; padding: 0.5em; }

@media all and (min-width: 640px) { #content aside { float: right; width: 40%; } }

#services-section { background-color: #183365; }

#services-section > header { background-image: linear-gradient(90deg, #183365, #fff, #183365); }

#services-section > header h2, #services-section > header a { background-color: #183365; color: #fff; font-weight: bold; }

#news-section > header, #about-section > header, #government-section > header, #block-cob-committeemembers > header, #block-departmentstaff > header, .paragraph > header { background-image: linear-gradient(90deg, #fff, #183365, #fff); }

#news-section > header h2, #about-section > header h2, #government-section > header h2, #block-cob-committeemembers > header h2, #block-departmentstaff > header h2, .paragraph > header h2 { background-color: #fff; color: #183365; }

body > footer { background-color: #795548; color: #fff; padding: 0.5em; }

body > footer a { color: #fff; display: block; text-align: left; }

body > footer address { text-align: left; }

@media all and (min-width: 640px) { body > footer .container { text-align: center; }
  body > footer .container nav { width: 30%; display: inline-block; margin-right: 1em; } }

/*# sourceMappingURL=screen.css.map */