@import '../vendor/City-of-Bloomington/factory-number-one/src/themes/default/scss/modules/_vars-mixins';

@import 'modules/layout';
@import 'modules/nav1';
@import 'modules/header';
@import 'modules/admin';

#highlighted {
    background-color: $color-error;
    color: $color-content-background;
    padding: $size-gutter;
    font-weight: bold;

    .container { text-align:center; }
}

#breadcrumb {
    background-color: $color-accent; padding: $size-gutter;
    height: 25vmin;
    background: url('images/downtown-small.png') no-repeat center bottom;
    background-size: cover;
    nav {
        font-size:$font-size-small;
        a { color:$color-content-background; }
    }

    @media all and (min-width: $viewport-medium) { background-image:url('images/downtown-medium.png'); }
    @media all and (min-width: $viewport-large ) { background-image:url('images/downtown-large.png' ); }
}
#block-cob-page-title {

    h1 {
        font-size: $font-size-bigger; color:$color-content-background;
        margin-top:1em;
    }
}

main > section {
    padding:$size-gutter 0;

    header {
        text-align: center;
        background-size: 100% 2px;
        background-position: left center;
        background-repeat: no-repeat;
    }
    h1 { display:inline; padding:0 $size-gutter; }
    .container { overflow:auto; padding:$size-gutter; }
}

#services-section, #government-section {
    a {
        display:inline-block;
        text-align:center; vertical-align:top;
        padding:6.5em $size-gutter $size-gutter $size-gutter;
        width:9em;
        margin-bottom:$size-gutter;

        background-size:6em; background-repeat:no-repeat; background-position:center $size-gutter;
    }
}

#services-section {
    background-color: $color-header;
    header {
        background-image:linear-gradient(90deg, $color-header, $color-content-background, $color-header);
    }
    h1, a { background-color:$color-header; color:$color-content-background; font-weight: bold; }

    a.contact        { background-image:url('../images/icons/contact us icon.svg'    ); }
    a.report         { background-image:url('../images/icons/report issue icon.svg'  ); }
    a.performance    { background-image:url('../images/icons/performance icon.svg'   ); }
    a.myBloomington  { background-image:url('../images/icons/my bloomington icon.svg'); }
    a.maps           { background-image:url('../images/icons/city maps icon.svg'     ); }
    a.water          { background-image:url('../images/icons/water icon.svg'         ); }
    a.parking_ticket { background-image:url('../images/icons/parking icon.svg'       ); }
    a.parks          { background-image:url('../images/icons/parks icon.svg'         ); }
}

#news-section, #about-section, #government-section {
    > header {
        background-image:linear-gradient(90deg, $color-content-background, $color-header, $color-content-background);
        h1, h2 { background-color:$color-content-background; color:$color-header; }
    }
}

#news-section {

    > .container > div { padding: $size-gutter; }

    .news article {
        border-color: $color-header;
        border-style: solid;
        border-width: $size-gutter 1px 1px 1px;
        padding:$size-gutter;
        overflow:hidden;
        height:15vh;
        @media all and (min-width:$viewport-medium) {
            display:inline-block; width:45%;
        }

        h2 {
            width:48%; float:left;
            font-size:$font-size-big; font-weight:bold; font-family:$font-family-default;
            text-align:left;
        }
        > div { width:48%; float:left; }
        time { float:right; }
    }
    @media all and (min-width:$viewport-medium) {
        .news article {
            display:inline-block; width:45%;
            &:first-child { width:93%; }
        }
        .events article { width:93%; }
    }
    .events article {
        overflow:auto; position:relative;
        height:auto;
        min-height:5em;
        border:1px solid $color-header;

        .month, .monthDate { font-size:$font-size-big; }
        .weekday { font-weight:bold; }

        header {
            position:absolute; left:0;

            width:6em; height:100%;
            background-color:$color-alert;
            color:$color-content-background;
        }
        > div {
            margin-left:6.5em;
        }
    }
    @media all and (min-width:$viewport-large) {
        .news   { width:55%; display:inline-block; }
        .events { width:35%; display:inline-block; }

        > .container > div { vertical-align:top; }
    }
}

#about-section {
    @media all and (min-width:$viewport-medium) {
        .container {
            background: url('../images/icons/Indiana state icon.svg') right 60% top no-repeat;
            background-size: auto 100%;
            p { margin-left:50%; }
        }
    }
}

#government-section {
    .container { text-align:center; }
    a {
        color: $color-text-default;
        &:hover { background-color: $color-action; }
    }

    a.code          { background-image:url('../images/icons/Municipal code icon.svg'); }
    a.budget        { background-image:url('../images/icons/city budget icon.svg'   ); }
    a.boards        { background-image:url('../images/icons/boards icon.svg'        ); }
    a.council       { background-image:url('../images/icons/city council icon.svg'  ); }
    a.contact       { background-image:url('../images/icons/contact icon.svg'       ); }
    a.elected       { background-image:url('../images/icons/elected icon.svg'       ); }
    a.public_safety { background-image:url('../images/icons/public safety icon.svg' ); }
}


body > footer {
    background-color: $color-footer;
    color: $color-content-background;
    padding:$size-gutter;

    a {
        color: $color-content-background;
        display:block; text-align:left;
    }
    address { text-align:left; }

    @media all and (min-width:$viewport-medium) {
        .container {
            text-align:center;

            nav {
                width:30%; display:inline-block;
                margin-right:1em;
            }
        }
    }
}
