@import '../vendor/City-of-Bloomington/factory-number-one/src/themes/default/scss/modules/_vars-mixins';
@import 'modules/vars';
@import 'modules/html-elements';
@import 'modules/layout';
@import 'modules/nav1';
@import 'modules/header';
@import 'modules/content';
@import 'modules/admin';
@import 'modules/icons';
@import 'modules/buttons';
@import 'modules/events';
@import 'modules/dividers';
@import 'modules/front-page';
@import 'modules/news';
@import 'modules/info-cards';

dl { border:none; }

#alerts {
    background-color: $color-footer;
    color: $color-content-background;
    h2, a { color: $color-content-background; }

    .container { text-align:center; }
    article { margin:0; padding: $size-gutter; }

    .info    { background-color: $color-action; }
    .warning { background-color: $color-alert;  }
    .severe  { background-color: $color-error;  }
}
#banner {
    height:320px;
    background: url('images/downtown-large.png') no-repeat center center;
}
#breadcrumb {
    // display: flex;
    // flex-direction: column;
    // justify-content: end;
    position: relative;
    // background-color: purple;
    color: $color-heading;

    &:before {
        position: absolute;
        content: '';
        top: 18px;
        right: 0;
        left: 0;
        height: 75px;
        width: 100%;
        background: $color-heading;
    }

    .container {
        position: relative;
        padding: ($size-gutter * 2) ($size-gutter * 2) 0 ($size-gutter * 2);
        background: white;
        margin: -30px auto 0 auto;
        min-height: 83px;

        @media all and (max-width: $viewport-medium) {
            padding: $size-gutter $size-gutter 0 $size-gutter;
        }
    }

    h1 {
        font-size: $font-size-bigger-alt;
        line-height: $font-size-small * 4;
        color: $color-heading;
        margin: 0;
    }

    nav {
        font-size: $font-size-small;

        a:not(:last-child):after {
            content: " >> ";
        }
    }

    address,
    a { color: $biscay; }

    .social-sharing {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: $size-gutter * 2;
        right: $size-gutter * 2;
        width: $size-gutter * 10;

        .item {
            position: relative;
            width: $size-gutter * 2;
            height: $size-gutter * 2;
            border: 1px solid $silver-chalice;
            border-radius: 50%;

            a {
                // background: green;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;

                &:hover {
                    svg {
                        fill: #3f9dff;
                    }
                }
            }

            svg {
                display: block;
                position: absolute;
                width: 12px;
                height: 12px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: #4a4a4a;
            }
        }

        @media all and (max-width: $viewport-medium) {
            background: white;
            top: -30px;
            padding: 10px;
        }
    }

    .contactInfo {
        // display: none;
        border-top: 1px solid lighten($silver-chalice, 10%);
        border-bottom: 1px solid lighten($silver-chalice, 10%);
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        margin: 10px 0;
        padding: 10px 0;

        @media all and (max-width: $viewport-medium) {
            display: block;
        }
    }
}

#block-departmentstaff  > div,
#block-committeemembers .seats {
    font-size:$font-size-smaller;
    h3 div { font-size:$font-size-normal; }
    .member {
        text-align:center; margin-bottom: 1rem; padding: .5rem;
        dd { line-height: 1.5em; }
        dt { margin:0; }
    }

    @media all and (min-width:$viewport-medium) {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;

        h3 { margin:0; }
        .member { width: 208px; }
    }
    @media all and (min-width:$viewport-large) {
        width:$viewport-large; margin:0 auto;
    }
}
.contactInfo, #block-departmentstaff { dt { @include visuallyHidden();        } }
#block-committeemembers              { dt { float:none; display:inline-block; } }

#related-links > .container > div,
#block-committeemembers nav {
    text-align:center;

    div { display:inline-block; }
    a {
        background-color:$color-content-background;
        border-color:$color-action;
        color:$color-action;
    }
}

.pager {
    ul { list-style-type: none; }
    li {
        display: inline-block; padding: 0 $size-gutter;

        &.is-active {
            background-color: $color-link;
            a { color: $color-content-background; }
        }
    }
}

.dialog-off-canvas-main-canvas > footer {
    background-color: $color-footer;
    color: $color-content-background;
    padding:$size-gutter;

    a {
        font-size:$font-size-big;
        color: $color-content-background;
        display:block; text-align:left;
    }
    address { text-align:left; }

    @media all and (min-width:$viewport-medium) {
        .container {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }
    }
}
