/** Urls are relative to screen.css */
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Roboto Condensed';
/** @see https://en.wikipedia.org/wiki/Web_colors */
section { margin: 0; }

@media all and (min-width: 640px) { #intro { display: flex; flex-direction: row; flex-wrap: wrap; }
  #intro .text_with_summary { flex-basis: 55%; margin-right: 5%; }
  #intro aside { flex-basis: 40%; } }

@media all and (min-width: 1080px) { #nav1 .container, body > footer .container, main > div .container, main > section > .container { width: 1080px; margin: 0 auto; } }

#hamburger { position: fixed; clip: rect(0, 0, 0, 0); }

label[for="hamburger"] { position: fixed; top: 0.5em; left: 0.5em; width: 2em; height: 2em; background-image: url("images/fa-svg/white/bars.svg"); background-size: contain; z-index: 1; cursor: pointer; }

#hamburger:checked ~ nav { margin: 0; }

#hamburger:checked ~ header, #hamburger:checked ~ main, #hamburger:checked ~ footer { -webkit-transform: translateX(17em); -moz-transform: translateX(17em); -ms-transform: translateX(17em); transform: translateX(17em); }

#nav1, body > header, body > main, body > footer { transition: all 200ms ease-in; }

#nav1 { position: fixed; top: 0; left: 0; width: 17em; height: 100%; margin: 0 0 0 -17em; background-color: #a31621; }

#nav1 .container { padding-top: 3em; }

#nav1 .container a { color: #fff; font-size: 1.25rem; }

@media all and (min-width: 640px) { #hamburger, label[for="hamburger"] { display: none; }
  #nav1 { position: static; width: 100%; height: auto; margin: 0; background-color: #fff; }
  #nav1 .container { padding: 0; overflow: auto; display: flex; flex-direction: row; justify-content: space-around; }
  #nav1 .container a { color: #183365; } }

body > header { color: #fff; padding: 0; }

body > header > .container { background-color: #183365; }

body > header > .container section, body > header > .container form { display: inline-block; }

body > header > .container h1 a { color: #fff; font-weight: bold; }

@media all and (min-width: 640px) { body > header > .container h1 a { padding: 0; } }

#block-cob-cob-search-form { float: right; }

/** Styles for user generated content. These are styles for markup in the main content area of pages. This should control how we display the way HTML that users type. */
#content ul { list-style: disc    outside; margin-left: 1em; }

#content ol { list-style: decimal outside; margin-left: 1em; }

/** Styles for markup that only shows up for users that are logged in This is stuff like the View/Edit/Delete buttons on content pages */
#block-cob-local-tasks { margin: 1em 0; }

#block-cob-local-tasks a { font-family: "Roboto Condensed", sans-serif; background-color: #183365; color: #fff; padding: 0.5em; border-radius: 0.5em; }

#block-cob-local-tasks a:active, #block-cob-local-tasks a:hover { color: #c9e5f7; }

#block-cob-local-tasks a.is-active { background-color: #c9e5f7; }

@media all and (min-width: 640px) { #nav1 a { display: inline-block; padding-top: 52px; background-size: auto 40px; background-position: center 0.5em; background-repeat: no-repeat; }
  #nav1 .about { background-image: url("../images/icons/about bloom icon.svg"); }
  #nav1 .news { background-image: url("../images/icons/news and event icon.svg"); }
  #nav1 .city { background-image: url("../images/icons/city govt icon.svg"); }
  #nav1 .services { background-image: url("../images/icons/services icon.svg"); } }

#services-section a, #government-section a { display: inline-block; text-align: center; vertical-align: top; padding: 7em 0.5em 0.5em 0.5em; width: 9em; margin-bottom: 0.5em; background-size: 6em; background-repeat: no-repeat; background-position: center 0.5em; }

#services-section a.contact { background-image: url("../images/icons/contact us icon.svg"); }

#services-section a.report { background-image: url("../images/icons/report issue icon.svg"); }

#services-section a.performance { background-image: url("../images/icons/performance icon.svg"); }

#services-section a.myBloomington { background-image: url("../images/icons/my bloomington icon.svg"); }

#services-section a.maps { background-image: url("../images/icons/city maps icon.svg"); }

#services-section a.water { background-image: url("../images/icons/water icon.svg"); }

#services-section a.parking_ticket { background-image: url("../images/icons/parking icon.svg"); }

#services-section a.parks { background-image: url("../images/icons/parks icon.svg"); }

#government-section a.code { background-image: url("../images/icons/Municipal code icon.svg"); }

#government-section a.budget { background-image: url("../images/icons/city budget icon.svg"); }

#government-section a.boards { background-image: url("../images/icons/boards icon.svg"); }

#government-section a.council { background-image: url("../images/icons/city council icon.svg"); }

#government-section a.contact { background-image: url("../images/icons/contact icon.svg"); }

#government-section a.elected { background-image: url("../images/icons/elected icon.svg"); }

#government-section a.public_safety { background-image: url("../images/icons/public safety icon.svg"); }

.contactInfo address, .contactInfo a { display: block; font-size: 1.125rem; font-style: normal; padding-left: 3.5rem; background-position: left center; background-size: 2.5rem; background-repeat: no-repeat; }

.contactInfo a { line-height: 2em; }

.contactInfo address { background-image: url("images/fa-svg/white/map-marker.svg"); }

.contactInfo a.facebook { background-image: url("images/fa-svg/white/facebook-square.svg"); }

.contactInfo a.twitter { background-image: url("images/fa-svg/white/twitter-square.svg"); }

.contactInfo a[href^="mailto:"] { background-image: url("images/fa-svg/white/envelope.svg"); }

.contactInfo a.phone { background-image: url("images/fa-svg/white/phone-square.svg"); }

.contactInfo a.fax { background-image: url("images/fa-svg/white/fax.svg"); }

.contactInfo a.onboard { background-image: url("images/icons/white/city_logo.svg"); }

aside.contactInfo address { background-image: url("images/fa-svg/gothic/map-marker.svg"); }

aside.contactInfo a.facebook { background-image: url("images/fa-svg/gothic/facebook-square.svg"); }

aside.contactInfo a.twitter { background-image: url("images/fa-svg/gothic/twitter-square.svg"); }

aside.contactInfo a[href^="mailto:"] { background-image: url("images/fa-svg/gothic/envelope.svg"); }

aside.contactInfo a.phone { background-image: url("images/fa-svg/gothic/phone-square.svg"); }

aside.contactInfo a.fax { background-image: url("images/fa-svg/gothic/fax.svg"); }

aside.contactInfo a.onboard { background-image: url("images/icons/gothic/city_logo.svg"); }

#block-upcomingevents article, .calendar_calendar article { overflow: hidden; position: relative; height: auto; height: 5em; border: 1px solid #183365; }

#block-upcomingevents article .month, #block-upcomingevents article .monthDate, .calendar_calendar article .month, .calendar_calendar article .monthDate { font-size: 1.25rem; font-weight: bold; }

#block-upcomingevents article .summary, .calendar_calendar article .summary { font-weight: bold; white-space: nowrap; }

#block-upcomingevents article .location, .calendar_calendar article .location { white-space: nowrap; }

#block-upcomingevents article header, .calendar_calendar article header { position: absolute; left: 0; width: 6em; height: 100%; background-color: #ffc95c; color: #fff; font-family: "Lora", serif; text-align: center; vertical-align: middle; }

#block-upcomingevents article header time, .calendar_calendar article header time { display: inline-block; }

#block-upcomingevents article > div, .calendar_calendar article > div { margin-left: 6.5em; line-height: 1.5em; }

#content section > header, .paragraph--type--info-list > header { text-align: center; background-size: 100% 2px; background-position: left center; background-repeat: no-repeat; margin: 2em 0; }

#content section > header h2, .paragraph--type--info-list > header h2 { display: inline; padding: 0 0.5em; }

#services-section { background-color: #183365; }

#services-section > header { background-image: linear-gradient(90deg, #183365, #fff, #183365); }

#services-section > header h2, #services-section > header a { background-color: #183365; color: #fff; font-weight: bold; }

#news-section > header, #about-section > header, #government-section > header, #block-committeemembers > header, #block-departmentstaff > header, .paragraph > header { background-image: linear-gradient(90deg, #fff, #183365, #fff); }

#news-section > header h2, #about-section > header h2, #government-section > header h2, #block-committeemembers > header h2, #block-departmentstaff > header h2, .paragraph > header h2 { background-color: #fff; color: #183365; }

main.front:before { box-sizing: content-box; content: ''; display: block; height: 25vh; background: url("images/downtown-small.png") no-repeat center center; background-size: cover; }

@media all and (min-width: 640px) { main.front:before { background-image: url("images/downtown-medium.png"); } }

@media all and (min-width: 1080px) { main.front:before { background-image: url("images/downtown-large.png"); } }

@media all and (min-width: 640px) { #about-section .container { background: url("../images/icons/Indiana state icon.svg") right 60% top no-repeat; background-size: auto 100%; }
  #about-section .container p { margin-left: 50%; } }

#government-section .container { text-align: center; }

#government-section a { color: #212121; }

#government-section a:hover { background-color: #4caf50; }

#news-section > .container > div { padding: 0.5em; }

#news-section .news article { border-color: #183365; border-style: solid; border-width: 0.5em 1px 1px 1px; padding: 0.5em; overflow: hidden; height: 15vh; }

@media all and (min-width: 640px) { #news-section .news article { display: inline-block; width: 45%; } }

#news-section .news article h2 { width: 48%; float: left; font-size: 1.25rem; font-weight: bold; font-family: "Roboto Condensed", sans-serif; text-align: left; }

#news-section .news article > div { width: 48%; float: left; }

#news-section .news article time { float: right; }

@media all and (min-width: 640px) { #news-section .news article { display: inline-block; width: 45%; }
  #news-section .news article:first-child { width: 93%; }
  #news-section .events article { width: 93%; } }

@media all and (min-width: 1080px) { #news-section .news { width: 55%; display: inline-block; }
  #news-section .events { width: 35%; display: inline-block; }
  #news-section > .container > div { vertical-align: top; } }

/** Styles for paragraph types defined in our Drupal site Paragraphs are a special module we installed. @see https://www.drupal.org/project/paragraphs These are not to be confused with HTML P tags.  It is unfortunate that the module happens to call itself with that name. */
.paragraph--type--info-list { text-align: center; }

.paragraph--type--info-card h1 { vertical-align: top; }

@media all and (min-width: 640px) { .paragraph--type--info-card { width: 30%; display: inline-block; vertical-align: top; text-align: center; }
  .paragraph--type--info-card header { height: 3em; font-size: 2.25rem; margin: 0; } }

dl { border: none; }

#highlighted { background-color: #ed9a9c; color: #fff; padding: 0.5em; font-weight: bold; }

#highlighted .container { text-align: center; }

#breadcrumb { background-color: #a31621; min-height: 40vmin; background: url("images/downtown-small.png") no-repeat center center; background-size: cover; position: relative; }

#breadcrumb .blur { background-color: rgba(0, 0, 0, 0.5); }

#breadcrumb .container { padding: 0.5em; }

#breadcrumb nav { font-size: 1rem; }

#breadcrumb address, #breadcrumb a { color: #fff; }

@media all and (min-width: 640px) { #breadcrumb { background-image: url("images/downtown-medium.png"); }
  #breadcrumb .blur { position: absolute; bottom: 0; left: 0; right: 0; } }

@media all and (min-width: 1080px) { #breadcrumb { background-image: url("images/downtown-large.png"); } }

#block-cob-page-title h1 { font-size: 2.8125rem; color: #fff; margin-top: 1em; }

#breadcrumb .contactInfo, #block-departmentstaff > div, #block-committeemembers > div > div { font-size: 1.125rem; }

@media all and (min-width: 640px) { #breadcrumb .contactInfo, #block-departmentstaff > div, #block-committeemembers > div > div { display: flex; flex-flow: row wrap; justify-content: space-around; }
  #breadcrumb .contactInfo h3, #block-departmentstaff > div h3, #block-committeemembers > div > div h3 { margin: 0; }
  #breadcrumb .contactInfo > div, #block-departmentstaff > div > div, #block-committeemembers > div > div > div { width: 25%; margin: auto; text-align: center; } }

@media all and (min-width: 1080px) { #breadcrumb .contactInfo, #block-departmentstaff > div, #block-committeemembers > div > div { width: 1080px; margin: 0 auto; } }

.contactInfo dt, #block-departmentstaff dt { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

#block-committeemembers dt { float: none; display: inline-block; }

#content > .container { padding: 0.5em; }

#content > .container > section { padding: 0.5em 0; }

#content > .container > section h2 { font-size: 2.25rem; color: #3f9dff; margin-bottom: 2rem; }

#content > .container > section .container { overflow: auto; padding: 0.5em; }

body > footer { background-color: #3f9dff; color: #fff; padding: 0.5em; }

body > footer a { color: #fff; display: block; text-align: left; }

body > footer address { text-align: left; }

@media all and (min-width: 640px) { body > footer .container { text-align: center; }
  body > footer .container nav { width: 30%; display: inline-block; margin-right: 1em; } }

/*# sourceMappingURL=screen.css.map */