body { line-height:1; }
p { margin-bottom:1em; }
ul.menu { list-style-position:inside; }
img { border:0; max-width:98%; height:auto; margin:.25em; }


#header { overflow:auto; }
#logo     { margin-left:.5em; }
#logo img { display:block; }
#logo a   { display:block; color:black; }

#main-menu { background-color:black; overflow:auto; font-size:0.9em; }
#main-menu li {
	display:inline-block; float:left; padding:6px 4px;
	border-right:2px solid white;
}
#page { margin:0 auto 1em; width:95%; }
#main    { padding:0 .5% 0 .5%; line-height:1.25;}
#content { margin:0; padding:.25em 0; }
#sidebar-first { padding:0 .75%; }
#footer { padding:1em 2em 2em 1em; clear:both; }

@media screen and (min-width:800px) {
	#logo { float:left; padding:.5%; height:8em; }
	#menubar { position:relative; }
	#main-content   { float:left;  width:68%; padding:0 1%; }
	#sidebar-first  { float:left;  width:28%; padding:0 1%; }
	#sidebar-second { float:right; width:38%; padding:0 1%; }
}

.sidebar-item { margin: .5em 0; padding:0 .5em; }
.sidebar-item .field { margin:.25em 0; }

#block-search-form { float:right; display:inline-block; padding-top:.5em; margin-top:.5em; height:4em; line-height:4em; }
#block-search-form h4 { display:inline; }

#pageTools fieldset { border:0; margin:0; }
input#edit-search-block-form--2 { display:inline-block; padding:.15em 0 .15em .5em; margin:0; height:2.5em; }
#edit-submit { position:relative; height:2.5em; padding:.15em .5em; text-indent:0; }

@media screen and (max-device-width: 810px) {
	* { -webkit-text-size-adjust: 100%; }
	#logo { height:12em; }
	#block-search-form { width:75%; }
	#block-search-form input { max-width:60%; float:left; }
}

.clearfix { clear:both; }
.submitted { font-size:90%; font-weight:bold; }

#breadcrumb {  padding:0.5em; font-size:0.9em; }
.breadcrumb a { margin: 0 .25em; background:url('../images/breadcrumb.gif') center right no-repeat ; padding-right:10px; }
#title { padding:.5em .25em; margin:.25em 0; }


.content ol, .content ul { padding-left:2em; }
.content ol { list-style:decimal outside none; }
.content ul { list-style:disc outside none; }
.content ul ul { list-style-type:circle; }

.node-teaser img { margin:0; padding:0; }
.block { margin:1em 0; }

@media screen and (min-device-width:500px) {
	.programsTeaser { clear:left; width:98%; }
	.node-teaser { overflow:auto; width:31.3%; float:left; padding:0 .5% 0 0; border-left:2px solid #eee; }
	#block-views-resources-of-dept-block, 	#block-views-services-of-a-dept-block { width:48%; margin:0 .5%; float:left; overflow:auto; }
 
}

@media screen and (max-device-width:499px) {
	.node-teaser{ float:none; margin:0; padding:0; width:100%; }
}

.views-field-title { margin:.25em 0; }

