@import '../vendor/City-of-Bloomington/factory-number-one/src/themes/default/scss/modules/_vars-mixins';
@import 'modules/vars';
@import 'modules/layout';
@import 'modules/nav1';
@import 'modules/header';
@import 'modules/content';
@import 'modules/admin';
@import 'modules/icons';
@import 'modules/events';
@import 'modules/dividers';
@import 'modules/front-page';
@import 'modules/info-cards';

dl { border:none; }

#highlighted {
    background-color: $color-error;
    color: $color-content-background;
    padding: $size-gutter;
    font-weight: bold;

    .container { text-align:center; }
}

#breadcrumb {
    background-color: $color-accent;
    min-height: 50vmin;
    background: url('images/downtown-small.png') no-repeat center center;
    background-size: cover;
    position:relative;

    #banner { background-color:$color-heading; }
    .container { padding:$size-gutter; }
    h1 { font-size: $font-size-bigger; color:$color-content-background; }

    nav {
        font-size:$font-size-small;
        a:not(:last-child):after { content: "&gt;&gt;" }
    }
    address, a { color:$color-content-background; }

    @media all and (min-width: $viewport-medium) {
        background-image:url('images/downtown-medium.png');
        #banner {
            position:absolute; bottom:0; left:0; right:0;
        }
        h1 { font-size:$font-size-biggest; }
    }
    @media all and (min-width: $viewport-large ) {
        background-image:url('images/downtown-large.png' );
    }
}

// These blocks are laying out lists of things in a grid
#breadcrumb .contactInfo {
    > dl { display:inline-block; width:30%; }
}
#block-departmentstaff  > div,
#block-committeemembers > div > div {
    font-size:$font-size-normal;

    @media all and (min-width:$viewport-medium) {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;

        h3 { margin:0; }
        > div { width:25%; text-align:center; }
    }
    @media all and (min-width:$viewport-large) {
        width:$viewport-large; margin:0 auto;
    }
}
.contactInfo, #block-departmentstaff { dt { @include visuallyHidden();        } }
#block-committeemembers              { dt { float:none; display:inline-block; } }

#related-links {
    text-align:center;
    div { display:inline; }
    a {
        background-color:$color-content-background;
        border-color:$color-action;
        color:$color-action;
    }
}


body > footer {
    background-color: $color-footer;
    color: $color-content-background;
    padding:$size-gutter;

    a {
        font-size:$font-size-big;
        color: $color-content-background;
        display:block; text-align:left;
    }
    address { text-align:left; }

    @media all and (min-width:$viewport-medium) {
        .container {
            text-align:center;

            nav {
                width:30%; display:inline-block;
                margin-right:1em;
            }
        }
    }
}
