{% if cover_image %}
  <style type="text/css">
    #banner {
      background-image: url('{{ cover_image.cover_small }}');
    }

    /* $viewport-medium */
    @media all and (min-width: 600px) {
      #banner {
        background-image:url('{{ cover_image.cover_medium }}');
      }
    }

    /* $viewport-large */
    @media all and (min-width: 990px) {
      #banner {
        background-image:url('{{ cover_image.cover_large  }}');
      }
    }

  </style>
  <div id="banner"></div>
{% endif %}
