<footer>
    <div class="container">
        <div>
            <a href="#" class="facebook">Facebook</a>
            <a href="#" class="twitter">Twitter</a>
            <a href="mailto:someone@bloomington.in.gov">someone@bloomington.in.gov</a>
            {{ page.footer_first }}
        </div>
        <div>
            <address>
                401 N Morton
                Bloomington IN 47404
            </address>
            <a href="tel:18123493400">(812) 349-3400</a>
            {{ page.footer_second }}
        </div>
        <div>
            <a href="#">Careers</a>
            <a href="#">Site Map</a>
            <a href="#">Home</a>
            <a href="#">Privacy</a>
            {{ page.footer_third }}
        </div>
        {{ page.footer }}
    </div>
</footer>

