<input  id="hamburger" type="checkbox" />
<label for="hamburger"></label>
<header>
    <div class="container">
        {{ page.header }}
    </div>
</header>
{{ page.primary_menu }}
{{ page.secondary_menu }}
