{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="megamenu" class="visually-hidden">
    <div class="container">
        <ul><li>Services</li>
            <li>Information</li>
            <li>News</li>
            <li>Meetings &amp; Events</li>
            <li>City Government</li>
        </ul>
    </div>
</nav>
