<nav id="nav1">
    <div class="container">
        <a href="{{ base_path }}about">About Bloomington</a>
        <a href="{{ base_path }}city">City Government</a>
        <a href="{{ base_path }}news">News &amp; Events</a>
        <a href="{{ base_path }}services">Services &amp; Guides</a>
    </a>
</nav>

