{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<ul class="dropdown-menu">
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}business">Business</a>
        <ul>
            <li><a class="dropdown-item" href="{{ base_path }}sustainability">Susatainable Bloomington</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}rfp">RFP &amp; Bid Information</a></li>
            <li><a class="dropdown-item" href="https://bloomington.ecdev.org/">Business in Bloomington</a></li>
        </ul>
    </li>
</ul>
