{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<ul class="dropdown-menu">
    <h3><a class="dropdown-item" href="{{ base_path }}business">Business</a></h3>
    <li><a class="dropdown-item" href="{{ base_path }}sustainability">Susatainable Bloomington</a></li>
    <li><a class="dropdown-item" href="{{ base_path }}rfp">RFP &amp; Bid Information</a></li>
    <li><a class="dropdown-item" href="https://bloomington.ecdev.org/">Business in Bloomington</a></li>
</ul>
