{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<div class="collapse multi-collapse z-3 position-absolute container" id="collapse_business" data-bs-parent="#nav-collapses">
    <div class="card card-body rounded-0">
        <ul>
            <li>
                <a class="fs-5 fw-bold" href="{{ base_path }}business">Business</a>
                <ul>
                    <li class="m-2"><a href="{{ base_path }}sustainability">Susatainable Bloomington</a></li>
                    <li class="m-2"><a href="{{ base_path }}rfp">RFP &amp; Bid Information</a></li>
                    <li class="m-2"><a href="https://bloomington.ecdev.org/">Business in Bloomington</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
