{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="meetings-dropdown" class="megamenu visually-hidden">
    <div class="container">
        <h3>Calendars</h3>
        <ul><li><a href="https://calendar.google.com/calendar/embed?src=bloomington.in.gov_35a6qiaiperdn7b1r6v2ksjlig@group.calendar.google.com&amp;ctz=America/New_York">Government</a></li>
            <li><a href="https://calendar.google.com/calendar/embed?src=bloomington.in.gov_r7b1mkrme1r8uhl3b5amhb50bc@group.calendar.google.com&amp;ctz=America/New_York">Boards &amp; Commissions</a></li>
            <li><a href="{{ base_path }}city/holidays">City Hall Hours &amp; Holidays</a></li>
        </ul>

        <a class="button" href="{{ base_path }}calendars">City Calendars</a>
    </div>
</nav>
