{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="news-dropdown" class="megamenu visually-hidden">
    <div class="container">
        <h3>News</h3>
    </div>
</nav>
