{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav class="dropdown-menu">
    <h3><a href="{{ base_path }}welcome">Residents</a></h3>
    <ul><li><a href="{{ base_path }}welcome/students">Student Living</a></li>
    </ul>
</nav>
