{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}

<ul class="dropdown-menu">
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}about">Visitors</a>
        <ul>
            <li><a class="dropdown-item" href="{{ base_path }}arts">Arts &amp; Culture</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}parks">Parks &amp; Recreation</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}transportation">Getting Around</a></li>
            <li><a class="dropdown-item" href="http://www.visitbloomington.com/">Visit Bloomington</a></li>
            <li><a class="dropdown-item" href="https://www.indiana.edu/admissions/visit.html">Indiana University</a></li>
        </ul>
    </li>
</ul>
