{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav class="dropdown-menu">
    <h3><a href="{{ base_path }}about">Visitors</a></h3>
    <ul><li><a href="{{ base_path }}arts">Arts &amp; Culture</a></li>
        <li><a href="{{ base_path }}parks">Parks &amp; Recreation</a></li>
        <li><a href="{{ base_path }}transportation">Getting Around</a></li>
        <li><a href="http://www.visitbloomington.com/">Visit Bloomington</a></li>
        <li><a href="https://www.indiana.edu/admissions/visit.html">Indiana University</a></li>
    </ul>
</nav>
