/**
 * Styles for markup that only shows up for users that are logged in
 *
 * This is stuff like the View/Edit/Delete buttons on content pages
 */
#block-cob-local-tasks {
    margin:1em 0;

    a {
        font-family: $font-family-nav;
        background-color: $color-nav1;
        color: $color-content-background;
        padding: $size-gutter;
        border-radius: $size-gutter;

        &:active, &:hover {      color: $color-background-field; }
        &.is-active { background-color: $color-background-field; }
    }
}
