.button {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: $size-gutter;
  border-radius: 3px;
  border: none;
  background-color: $color-action;
  color: $color-content-background;
  width: fit-content;
  font-size: $font-size-small;

  &:hover,
  &:focus {
    background-color: darken($color-action, 5);
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  border: none;
  background-color: $color-action;
  color: $color-content-background;
  width: fit-content;
  font-size: $font-size-small;

  &:hover,
  &:focus {
    background-color: darken($color-action, 5);
  }

  &.more {
    background-color: $color-action;
    border: none;
    color: $color-content-background;
    width: fit-content;
    font-size: $font-size-small;

    &:hover,
    &:focus {
      background-color: darken($color-action, 5);
    }
  }

  &.visit-cal {
    &.top {
      margin: 0 0 45px 0;
    }
  }
}

.button-group {
  display: flex;
}
