.button {
  padding: 15px 25px;
  margin-top: 10px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 3px;

  &.more {
    background-color: $color-fern;
    color: white;
    width: fit-content;
    font-size: $font-size-small;

    &:hover,
    &:focus {
      background-color: darken($color-fern, 5);
    }
  }
}
