/**
 * @see https://en.wikipedia.org/wiki/Web_colors
 *
 */
// Blues
$biscay:           #183365;
$azure:            #315da6;
$sail:             #c9e5f7;
$havelock-blue:    #4990e2;
$dodger-blue:      #1e90ff;
$royal-blue:       #4169e1;

// Greens
$green:            #008000;

// Oranges
$california:       #ff9800;

// Pinks
$sunglo:           #ed9a9c;

// Greys
$gainsboro:        gainsboro;
$silver:           silver;
$silver-chalice:   #9e9e9e;
$dark-slate:       #4a4a4a;
$mine-shaft:       #212121;

// Whites
$white:            #fff;
$gin-fizz:         #fffae3;
$wafer:            #eee4e1;

// New Mayor Colors
$color-mayor-biscay:            #182d5a;
$color-mayor-eminence:          #662d91;
$color-mayor-sushi:             #8dc63f;
$color-mayor-curious-blue:      #27aae1;
$color-mayor-school-bus-yellow: #fbd801;
$color-mayor-pomegranate:       #eb3b24;

$color-blue:         rgb(30, 90, 174);

$color-grey-lighter: #f2f2f2;

// Foreground colors
$color-text-default:   $mine-shaft;
$color-text-secondary: $dark-slate;
$color-link:           $biscay;
$color-heading:        $royal-blue;
$color-divider:        $silver;

// Background colors
$color-content-background:  $white;
$color-selected-background: $havelock-blue;

$color-nav1:          $biscay;
$color-header:        $biscay;
$color-header-border: $azure;
$color-footer:        $dark-slate;
$color-error:         $sunglo;
$color-alert:         $california;
$color-action:        $green;
$color-accent:        $dodger-blue;

// Special widget colors
$color-background-field:           $sail;
$color-background-field-highlight: $gin-fizz;
$color-border-input:               $silver-chalice;
$color-border-input-highlight:     $mine-shaft;
$color-border-table:               $wafer;

$color-table-background:        $color-grey-lighter;
$color-table-background-alt:    $silver;
$color-table-header-background: $biscay;

$color-shadow: rgba(0, 0, 0, 0.5);
