/**
 * Styles for user generated content.
 *
 * These are styles for markup in the main content area of pages.
 * This should control how we display the way HTML that users type.
 */
#content {
    ul { list-style:disc    outside; margin-left:1em; }
    ol { list-style:decimal outside; margin-left:1em; }

    .text_with_summary a { color:$color-heading; text-decoration:underline; }

    .container {
        padding:$size-gutter;

        > section {
            padding:$size-gutter 0;

            h2 { font-size:$font-size-bigger; color:$color-heading; margin-bottom:2rem; }
            .container { overflow:auto; padding:$size-gutter; }
        }
    }
}
