/**
 * Styles for user generated content.
 *
 * These are styles for markup in the main content area of pages.
 * This should control how we display the way HTML that users type.
 */
#intro nav a {
    display: block; color: $color-link;
    font-weight: $font-weight-bold;
    font-family: $font-family-heading;
}
#content {
  .last-update {
    margin: 0 0 30px 0;

    p {
      font-style: italic;
      font-size: 16px;
      color: lighten($text-color, 5%);
    }
  }

  ul {
    list-style: disc outside;
    margin-left: 1em;
  }

  ol {
    list-style: decimal outside;
    margin-left: 1em;
  }

  &.search-results {
    .views-field-title {
      font-size: $font-size-big;
      font-weight: $font-weight-bold;
      font-family: $font-family-heading;
      margin: 0 0 $size-gutter 0;
    }
    .views-row {
      margin-bottom: $size-gutter * 4;
      a {
        display: block;
        color: $color-action;
      }
    }
  }

  .text_with_summary a,
  .text_long a {
    color: $color-heading;
    text-decoration: underline;
  }

  .container {
    padding: 0 ($size-gutter * 2);

    > section {
      padding: $size-gutter 0;

      h2 {
        color: $color-heading;
        margin-bottom: 2rem;
      }
      .container {
        overflow: auto;
      }

      @media all and (min-width: $viewport-medium) {
        h2 {
          font-size: $font-size-bigger;
        }
      }
    }
  }

  #activities {
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      header,
      form {
        flex-basis: 30%;
        margin: 0 auto;
      }
    }
  }
}

.parks-page {
  #stats {
    color: $color-content-background;
    background: $color-header;

    font-size: $font-size-big;

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .count {
      font-size: $font-size-bigger;
    }

    a {
      flex: 0 0 auto;
      width: 150px;
      height: 120px;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      color: $color-content-background;
      &:hover {
        background-color: $color-selected-background;
      }

      div {
        text-align: center;
      }
    }
  }

  .events {
    @media all and (min-width: $viewport-medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $size-gutter;
    }
  }

  #categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    article {
      flex: 0 0 20%;
      margin: $size-gutter;

      header {
        h3 {
          text-align: center;
          font-size: $font-size-bigger;
          margin: 0 0 $size-gutter 0;
        }
      }

      a {
        display: block;
        padding: ($size-gutter * 2);
        &:hover {
          background-color: $color-selected-background;
        }
      }
    }
  }
}

#promt-programsearchform {
  display: table;

  .form-item {
    margin-bottom: $size-gutter;
  }
  label {
    display: inline-block;
    width: 5em;
  }
  select {
    width: 20em;
  }
  #edit-actions {
    text-align: center;
  }
}

.speeches_remarks {
  #intro {
    margin-bottom: 2em;

    div {
      width: 100%;
    }
  }

  .text_long {
    column-count: 2;
  }
}

.file a { text-decoration: underline; }
