$divider-margin:3.7em;
$divider-light:linear-gradient(90deg, $color-header, $color-content-background, $color-header);
$divider-dark: linear-gradient(90deg, $color-content-background, $color-header, $color-content-background);

.front   .container         > header,
#content section            > header,
#related-links              > header,
#activities                 > header,
.paragraph--type--info-list > header {
    @media all and (min-width:$viewport-medium) {
        text-align: center;
        background-size: 100% 2px;
        background-position: left center;
        background-repeat: no-repeat;
        margin:$divider-margin 0;

        h2 {
            display:inline; padding:0 $size-gutter;
            font-size:$font-size-bigger; font-weight:$font-weight-bold;
        }
    }
}

// Light foreground, dark background
#services-section {
    background-color: $color-header;

    .container > header {
        background-image:$divider-light;
    }
    h2, a { background-color:$color-header; color:$color-content-background; }
}
#parks-guide-page #activities {
    > header { background-image:$divider-light; }
    h2 { background-color:$color-heading; color:$color-content-background; }
}


// Dark foreground, light background
#news-section, #about-section, #mayor-section, #government-section {
    .container > header {
        background-image:$divider-dark;
        h2 { background-color:$color-content-background; color:$color-heading; }
    }
}
.paragraph,
#asm_animals,
#related-links,
#block-categoryprograms,
#block-locationprograms,
#block-departmentstaff,
#block-committeemembers,
#promt_sessions {
    > header {
        background-image:$divider-dark;
        h2 { background-color:$color-content-background; color:$color-heading; }
    }
}
