$divider-margin:2em;

.front   .container         > header,
#content section            > header,
#related-links              > header,
.paragraph--type--info-list > header {
    @media all and (min-width:$viewport-medium) {
        text-align: center;
        background-size: 100% 2px;
        background-position: left center;
        background-repeat: no-repeat;
        margin:$divider-margin 0;

        h2 { display:inline; padding:0 $size-gutter; }
    }
}

// Light foreground, dark background
#services-section {
    background-color: $color-header;
    padding-top:$divider-margin;

    .container > header {
        background-image:linear-gradient(90deg, $color-header, $color-content-background, $color-header);
    }
    h2, a { background-color:$color-header; color:$color-content-background; font-weight: bold; }
}
// Dark foreground, light background
#news-section, #about-section, #government-section {
    .container > header {
        background-image:linear-gradient(90deg, $color-content-background, $color-header, $color-content-background);
        h2 { background-color:$color-content-background; color:$color-header; }
    }
}
.paragraph,
#related-links,
#block-departmentstaff,
#block-committeemembers {
    > header {
        background-image:linear-gradient(90deg, $color-content-background, $color-header, $color-content-background);
        h2 { background-color:$color-content-background; color:$color-header; }
    }
}
