#block-upcomingevents,
.onboard_meetings,
.calendar_calendar {
    article {

        overflow:hidden; position:relative;
        height:5em;
        min-width:6em;
        border:1px solid $color-header;

        .month, .monthDate { font-size:$font-size-big; font-weight:bold; }
        .weekday { }
        .summary { font-weight:bold;  }
        .location {  }
        h4 { margin:0; }

        header {
            position:absolute; left:0;

            width:6em; height:100%;
            background-color:$color-alert;
            color:$color-content-background;
            font-family:$font-family-heading;
            text-align:center;
            vertical-align:middle;

            time { display:inline-block; }
        }
        > div {
            margin-left:6.5em;
            line-height:1.5em;
            display:flex; flex-direction:row; justify-content:start;

            > div { margin-right:1em; }
        }
    }
}
.onboard_meetings article { height:auto; min-height:5em; }
