#block-upcomingevents,
#block-committeemeetings,
.onboard_meetings,
.calendar_calendar {

  header h2 {
    color: $color-text-secondary;
  }

  .events {
    margin: 0 0 30px 0;

    @media (max-width: 767px) {
      padding: 15px 0 0 15px;
    }

    article {
      margin: 0;

      header {
        margin: 0 0 15px 55px;

        h2 {
          word-wrap: break-word;
          color: $color-text-secondary !important;
          font-size: $font-size-big !important;
          margin: 0;
        }

        p {
          font-size: 1.125rem;
          margin: 0;
        }
      }
    }

    a {
      display: block;

      position: relative;
      margin: 15px 0 30px 15px;

      background: white;
      border: 2px solid darken($color: #f8f8f8, $amount: 5);

      padding: 15px;
      border-radius: 3px;
      -webkit-box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);

      .date {
        position: absolute;
        background: $color-mayor-eminence;
        border: 2px solid $color-mayor-eminence;
        color: white;
        text-align: center;
        top: -15px;
        left: -15px;
        padding: 5px 15px;
        border-radius: 3px;
        width: auto !important; // bc layout #intro div

        span {
          display: block;
          width: 100%;

          &:nth-child(1) {
            line-height: 1;
          }

          &:nth-child(2) {
            font-size: $font-size-bigger;
            line-height: $font-size-bigger;
            font-weight: 600;
          }
        }
      }

      &:nth-child(3):nth-last-child(1) {
        grid-column: span 2;
      }

      &:nth-child(2):nth-last-child(3) {
        grid-column: 2;
      }

      &:hover,
      &:focus {
        border: 2px solid $color-mayor-eminence;
        -webkit-box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.25);
      }

      @media (max-width: 767px) {
        grid-column: span 2;
        margin: 0 0 15px 0;

        &:nth-child(2):nth-last-child(3) {
          grid-column: span 2;
        }
      }
    }
  }
}
