#services-section, #government-section {
    nav { text-align:center; }
    a {
        width:40vw;
        margin-bottom:$size-gutter;

        @media all and (min-width:$viewport-medium) { width: 20vw}
        @media all and (min-width:$viewport-large) { width: 240px; }
    }
}

#about-section {
    @media all and (min-width:$viewport-medium) {
        .container {
            background: url('../images/icons/Indiana state icon.svg') right 60% top no-repeat;
            background-size: auto 100%;
            p { margin-left:50%; }
        }
    }
}

#government-section {
    a {
        color: $color-text-default;
        &:hover { background-color: $color-action; }
    }
}

#news-section {
    > .container > div { padding: $size-gutter; }

    .news article {
        border-color: $color-header;
        border-style: solid;
        border-width: $size-gutter 1px 1px 1px;
        padding:$size-gutter;
        overflow:hidden;
        height:15vh;
        @media all and (min-width:$viewport-medium) {
            display:inline-block; width:45%;
        }

        h2 {
            width:48%; float:left;
            font-size:$font-size-big; font-weight:bold; font-family:$font-family-default;
            text-align:left;
        }
        > div { width:48%; float:left; }
        time { float:right; }
    }
    @media all and (min-width:$viewport-medium) {
        .news article {
            display:inline-block; width:45%;
            &:first-child { width:93%; }
        }
        .events article { width:93%; }
    }
    @media all and (min-width:$viewport-large) {
        .news   { width:55%; display:inline-block; }
        .events { width:35%; display:inline-block; }

        > .container > div { vertical-align:top; }
    }
}
