// .front {
//     header > h2 { text-transform:uppercase; }

//     #banner {
//         background-image: url('images/downtown-small.png');

//         @media all and (min-width: $viewport-medium) {
//             background-image: url('images/downtown-medium.png');
//         }

//         @media all and (min-width: $viewport-large ) {
//             background-image: url('images/downtown-large.png' );
//         }
//     }
// }

//note: news section is in it's own file
#services-section,
#government-section,
.promoted-area,
#services-section,
#events-section,
#about-section,
#mayor-section {
  padding: 60px 0;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  h2 {
    font-size: $font-size-bigger;
    font-family: $fontIBM;
    margin: 0 0 30px 0;

    @media (max-width: 767px) {
      font-size: $font-size-medium;
      margin: 0 0 5px 0;
    }
  }
}

#block-searchform {
  // background-color: #f8f8f8;
  border-bottom: 1px solid $color-grey-light;
  background-image: url("images/cover-placeholder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    content: "";
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  h2 {
    font-size: $font-size-bigger-alt;
    font-family: $fontIBM;
    margin: 0 0 15px 0;

    @media (max-width: 767px) {
      font-size: $font-size-medium;
      margin: 0 0 5px 0;
    }
  }

  h2 {
    color: $text-color;
  }

  form {
    position: relative;
    margin: 0;

    fieldset {
      display: flex;
      align-items: center;
      justify-content: center;
      border: $border-default;
      background-color: $color-grey-light;
      border-radius: 3px;
      padding: 20px;
      margin: 0 auto;

      &:hover,
      &:focus {
        background-color: darken($color: $color-grey-light, $amount: 1);
      }

      @media (max-width: 767px) {
        padding: 15px;
      }
    }

    input {
      &[type="search"] {
        font-family: $fontIBM;
        font-size: $font-size-medium;
        color: $text-color;
        width: 100%;
        height: 50px;
        border: none;
        padding: 10px 20px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        &::placeholder {
          color: lighten($text-color, 5%);
        }
      }

      &[type="submit"] {
        height: 50px;
        margin: 0;
        border: none;
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
      }

      @media (max-width: 767px) {
        &[type="search"] {
          padding: 5px 10px;
          font-size: $font-size-small;
        }
        &[type="search"],
        &[type="submit"] {
          height: 30px;
        }
      }
    }
  }
}

.promoted-area {
  h1,
  h2,
  h3,
  span,
  ul,
  li,
  a,
  p {
    font-family: $fontIBM;
  }

  h2 {
    color: $text-color;
  }

  a.feed-icon {
    display: none;
  }

  #block-cob-cob-system-main {
    h1,
    h2,
    h3,
    span,
    ul,
    li,
    a,
    p {
      font-family: $fontIBM;
      color: $text-color;
    }

    h2 {
      margin: 0 0 10px 0;
      @media (max-width: 767px) {
        font-size: $font-size-big;
      }
    }

    p {
      line-height: 1.5em;

      @media (max-width: 767px) {
        font-size: $font-size-small;
      }

      &:last-of-type {
        font-size: $font-size-small;
        margin: 15px 0 0 0;
      }
    }

    img {
      width: 100%;
    }

    @media (max-width: 767px) {
      font-size: $font-size-big;
    }

    .rows {
      display: grid;
      grid-gap: 30px;
      justify-content: center;
      grid-template-columns: 2fr 2fr;

      @media (max-width: 767px) {
        grid-gap: 0;
      }

      .promoted-front {
        // grid-template-columns: repeat(auto-fit, 50%);

        @media (max-width: 767px) {
          grid-column: span 2;
          margin: 0 0 15px 0;
        }

        &:nth-child(3):nth-last-child(1) {
          grid-column: span 2;
        }

        &:nth-child(2):nth-last-child(3) {
          grid-column: 2;
        }

        h2 {
          font-size: $font-size-medium;
        }

        p {
          line-height: 1.5em;
        }

        a {
          border-radius: 3px;
          background-color: #f4c449;
          border: 2px solid #f4c449;
          padding: 20px;
          display: block;

          &:hover,
          &:focus {
            background-color: white;
          }
        }
      }
    }
  }
}

#services-section {
  background-color: $color-blue;

  h2 {
    color: white;
  }

  a {
    margin-bottom: 30px;
    color: white;
    @media all and (min-width: $viewport-medium) {
      flex: 0 0 25%;
    }
    @media all and (max-width: $viewport-medium) {
      flex: 0 0 50%;
    }
  }
  nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h2 {
      font-family: $font-family-nav;
      font-size: $font-size-big;
      color: $color-link;
      height: 2.5em;
    }
  }
}

#government-section {
  background-color: $color-blue;
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;

  h2 {
    color: white;
  }

  nav {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(3, 1fr);

    h2 {
      font-size: $font-size-medium;
    }

    @media (max-width: 767px) {
      grid-gap: 0;
      grid-template-columns: 1fr;
    }
  }

  a {
    color: white;
    padding: 145px 30px 30px 30px;
    border-radius: 3px;

    &:hover,
    &:focus {
      background-color: darken($color-blue, 5);
    }

    &.code {
      background-image: url("images/alpha_icons/white/code-circle-o.svg");

      &:hover {
        background-image: url("images/alpha_icons/white/code-circle-o.svg");
      }
    }

    &.budget {
      background-image: url("images/alpha_icons/white/moneybag-circle-o.svg");

      &:hover {
        background-image: url("images/alpha_icons/white/moneybag-circle-o.svg");
      }
    }
    &.boards {
      background-image: url("images/alpha_icons/white/businessman-circle-o.svg");
      &:hover {
        background-image: url("images/alpha_icons/white/businessman-circle-o.svg");
      }
    }
    &.council {
      background-image: url("images/alpha_icons/white/user-circle-o.svg");
      &:hover {
        background-image: url("images/alpha_icons/white/user-circle-o.svg");
      }
    }
    &.contact {
      background-image: url("images/alpha_icons/white/phonecontact-circle-o.svg");
      &:hover {
        background-image: url("images/alpha_icons/white/phonecontact-circle-o.svg");
      }
    }
    &.elected {
      background-image: url("images/alpha_icons/white/policeofficer-circle-o.svg");

      &:hover {
        background-image: url("images/alpha_icons/white/policeofficer-circle-o.svg");
      }
    }
    &.public_safety {
      background-image: url("images/alpha_icons/white/policecar-circle-o.svg");

      &:hover {
        background-image: url("images/alpha_icons/white/policecar-circle-o.svg");
      }
    }
  }
}

#about-section {
  background-color: white;
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;

  h2 {
    color: $text-color;
  }

  @media (max-width: 767px) {
    img {
      width: 275px;
      margin: 0 0 30px 0;
    }
  }
}

#mayor-section {
  background-color: #f8f8f8;

  h2 {
    color: $text-color;
  }

  @media (max-width: 767px) {
    img {
      width: 275px;
      margin: 0 0 30px 0;
    }
  }
}

#events-section {
  background-color: #f8f8f8;
  border-top: 1px solid $color-grey-light;

  h2 {
    color: $text-color;
  }

  .events {
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    grid-template-columns: 2fr 2fr;
    margin: 0 0 30px 0;

    @media (max-width: 767px) {
      grid-gap: 0;
    }

    article {
      margin: 0;
    }

    a {
      display: block;
      background: #635380;
      border: 2px solid #635380;
      padding: 15px;
      border-radius: 3px;

      &:nth-child(3):nth-last-child(1) {
        grid-column: span 2;
      }

      &:nth-child(2):nth-last-child(3) {
        grid-column: 2;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        border: 2px solid darken(#635380, 5);

        time {
          background-color: darken(#635380, 5);

          span {
            color: white;
          }
        }

        h2,
        p {
          color: $text-color;
        }
      }

      @media (max-width: 767px) {
        grid-column: span 2;
        margin: 0 0 15px 0;

        &:nth-child(2):nth-last-child(3) {
          grid-column: span 2;
        }
      }
    }

    time {
      display: flex;
      justify-content: space-between;
      background-color: #f8f8f8;
      border: 1px solid #f8f8f8;
      padding: 10px 15px;
      margin: 0 0 15px 0;
      border-radius: 3px;

      span {
        display: block;
        color: $text-color;
        font-size: $font-size-small;

        &.weekday,
        &.time,
        &.monthDate {
        }
      }
    }

    h2 {
      color: white;
      font-size: $font-size-medium;
      margin: 0 0 10px 0;

      @media (max-width: 767px) {
        font-size: $font-size-big;
      }
    }

    p {
      color: white;
      font-size: 1.125rem;
      margin: 0;
    }

    .location {
      margin: 0 0 15px 0;
    }
  }
}

section.promo {
  .container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > div,
    > p {
      flex: 1 0 320px;
    }

    .entity_reference > div {
      text-align: center;
    }
  }
  p {
    color: $text-color;
    line-height: 1.5em;
  }
  .promo_title {
    margin: 30px 0 0 0;
  }
  &.person {
    .entity_reference {
      img {
        border-radius: 3px;
      }
    }
  }
}
