.dialog-off-canvas-main-canvas > header {
  position: relative;
  background-color: $color-header;
  color: $color-content-background;
  padding: $size-gutter $size-gutter 0 $size-gutter;
  height: 100%;

  #nav1 {
    width: 100vw;
    position: relative;
    left: 50%;
    margin: $size-gutter 0 0 -50vw;
    padding: $size-gutter 0;
    background-color: $color-content-background;

    .container {
      display: flex;
      justify-content: space-evenly;

      a {
        color: $color-header;

        span {
          margin: $space-s 0 0 0;

          &:nth-of-type(1) {
            display: block;
          }

          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }

  > .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-small;

    > a {
      position: absolute;
      top: 0.75em;
      left: 50%;
      transform: translateX(-50%);
    }

    * {
      &:focus {
        outline-color: white;
      }
    }

    section {
      display: flex;

      &:nth-of-type(1) {
        flex: 1;
        align-items: center;

        a {
          h1,
          h2 {
            margin: 0;
            font-family: $font-family-nav;
            color: $color-content-background;
          }

          h1 {
            font-size: $font-size-small;
          }

          h2 {
            font-size: $font-size-smaller;
            font-style: italic;
            display: block;
          }
        }
      }

      // aka - #block-searchform
      &:nth-of-type(2) {
        width: 320px;
        margin-left: auto;
      }
    }

    a {
      color: $color-content-background;
      font-weight: bold;
      line-height: $font-size-small;
    }
  }

  @media (max-width: $viewport-medium) {
    padding: $size-gutter $size-gutter 0 $size-gutter;

    #feedback {
      font-size: $font-size-smaller;
      transform: none;
      left: auto;
      top: 0.65em;
      right: 0;
    }

    #nav1 {
      .container {
        a {
          flex: 1 0 25%;
          font-size: $font-size-smaller;
          border-right: 1px solid $color-divider;
          padding: ($size-gutter * 4) 0 0 0;

          span {
            margin: 0;

            &:nth-of-type(1) {
              display: none;
            }

            &:nth-of-type(2) {
              display: block;
            }
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    > .container {
      width: 100%;
      padding: 0;

      section {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          flex: 1 0 100%;
          width: 100%;

          > div {
            width: 100%;
          }
        }

        &:nth-of-type(1) {
          margin: 0 0 $size-gutter 0;

          a {
            h1 {
              font-size: $font-size-smaller;
            }
          }
        }
      }
    }
  }

  @media (min-width: $viewport-medium) and (max-width: $viewport-large) {
    > .container {
      width: 100%;
    }
  }
}

#block-searchform {
  form {
    display: flex;
    margin: 0;
    width: 320px;
    height: 100%;

    fieldset { margin: 0; width: 100%; border: none; }

    input[type="search"] {
      box-sizing: border-box;
      -webkit-appearance: none; // fixes border-radius on iOS
      border: 0;
      padding: ($size-gutter/2) 0 ($size-gutter/2) $size-gutter;
      height: 100%;
      border-radius: 0;
      color: $color-content-background;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      // darkening to pass AAA
      background-color: darken($color-selected-background, 10%);

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }

      &:focus {
        border-bottom-color: $color-content-background;
      }
    }

    input[type="submit"] {
      margin-left: auto;
      width: 34px;
      height: 100%;
      padding: 0;
      border: none;
      margin: 0;
    }

    @media (max-width: $viewport-medium) {
      width: 100%;
    }
  }
}
