body > header {
    color: $color-content-background;
    padding: 0;

    > .container {
        background-color: $color-header;
        div, form { display:inline-block; }
    }

    h1 { color: $color-content-background; font-weight:bold; }
    a  { color: $color-content-background; }

    .search-block-form { float:right; }
}
