.dialog-off-canvas-main-canvas > header {
  display: flex;
  flex-wrap: wrap;
  font-family: $fontIBM;
  background: white;
  border-top: 4px solid $color-blue;

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 15px 20px;

    a {
      &.logo {
        margin: 0 20px 0 0;
        img {
          height: 55px;
        }
      }
      &.name {
        border-radius: 0;
        color: $text-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        border-left: 2px solid #dbdbdb;
        padding: 0 0 0 20px;
      }
    }

    &.contained {
      margin: 0 auto;
      width: 1080px;
      nav[role="sub navigation"] {
        margin: 15px 0 0;
      }
      header .menu-container a {
        text-decoration: none;
        &.logo {
          margin: 0 20px 0 0;
        }
      }
    }

    .nav-items {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;

      nav {
        margin: 0 0 0 15px;
      }
    }

    @media only screen and (min-width: 320px) and (max-width: 768px) {
      padding: 10px 15px;
    }

    @media (max-width: 911px) {
      .nav-items {
        &.non-home {
          padding: 10px 0 0 0;
          margin: 10px 0 0 0;
          width: 100%;
          border-top: 1px solid #dbdbdb;

          nav {
            position: absolute;
            top: 39px;
            right: 15px;
          }

          form#header-search {
            width: 100%;
            margin: 0 auto 0 0;

            input[type="search"] {
              width: 100%;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      a.logo {
        display: flex;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath id='logo' d='M59.11648.17917V18.62889l9.14441-9.00583V28.95159L59.133,37.518l-9.16364-9.66562L39.72372,37.51666,30.788,28.2918V9.84209l9.14579,9.00583V.3982L39.82532.17241,49.96245,9.40268ZM22.312,14.89514,16.066,8.74343v7.90664H8.92762l6.24594,5.93132-6.02077,5.711H27.97986V9.73447Zm62.9007,7.86905,6.24594-6.15171H83.43047V9.58466l-6.02351,6.149L71.60726,9.805V28.344H90.45355Zm-36.17,68.178,10.13713,9.23027L59.0713,99.948V81.49691l9.14579,9.00583V72.053l-8.93572-9.22485-10.247,9.66426-9.16227-9.66562-9.12932,8.56778V90.72176l9.14579-9.00583v18.44972ZM76.69174,85.451,82.93906,91.6V83.69475h7.137l-6.24457-5.93133,6.02076-5.71095H71.02523V90.61035ZM13.79242,77.58266,7.54648,83.733h8.02814v7.02781l6.02351-6.149,5.7997,5.92862V72.00151H8.55154Zm-4.4187-27.642L0,59.92266l.2293-.1068H18.96574L9.82,68.82168H28.5564l9.36823-8.799L28.11016,49.93256l9.81584-9.022L29.22644,31.9209H9.59752l9.14579,9.00583H.00687Zm81.25256.84569L100,40.803l-.2293.10681H81.03562L90.18,31.904H71.44359l-9.36823,8.80032,9.81446,10.0888L62.074,59.81519l8.69955,8.9896H90.40246L81.258,59.80031H99.99449Z' fill='%23265baa'/%3E%3C/svg%3E");
        height: 30px;
        width: 30px;
        margin: 0 10px 0 0;
      }
      a.logo img,
      a.logo svg {
        display: none;
      }

      .nav-items {
        &.non-home {
          nav {
            top: 17px;
          }
        }
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    align-self: center;
    &.navigation-dropdown {
      margin: 0 0 0 20px;
      ul {
        box-shadow: 0 1px 5px 0 rgba(70, 70, 70, 0.164);
        li {
          padding: 5px 10px;
          a {
            color: #4f4f4f;
          }
        }
      }
    }
    &[role="sub navigation"] {
      display: block;
      background: #356bb6;
      width: calc(100% + 40px);
      margin: 15px -20px 0;
      padding: 5px 20px;
      ul li a {
        font-size: 14px;
        color: #fff;
      }
    }
    &:not(.navigation-dropdown) {
      margin: 0 0 0 auto;
      ul {
        display: flex;
        align-items: center;
        align-self: center;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          font-size: 16px;
          margin: 0 20px 0 0;
          &:last-of-type {
            margin: 0;
          }
          a {
            font-size: 16px;
            width: auto;
            height: auto;
            color: #4f4f4f;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  #header-icon-nav {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    background-color: $color-blue;

    @media (max-width: 767px) {
      padding: 10px 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    a {
      display: inline-block;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 10px;
      background-size: 45px 45px;
      padding: 60px 20px 10px 20px;
      font-size: $font-size-normal;
      line-height: 1.25em;
      color: white;
      border-radius: 3px;

      &:hover,
      &:focus {
        background-color: darken($color-blue, 5);
        // color: $color-blue;
      }

      span {
        margin: $space-s 0 0 0;
        &:nth-of-type(1) {
          display: block;
        }
        &:nth-of-type(2) {
          display: none;
        }
      }

      @media (max-width: 767px) {
        padding: 0 0 0 52px;
        background-size: 24px 24px;
        flex: 1 0 25%;
        font-size: $font-size-smaller;
        border-right: 1px solid $color-divider;
        padding: 40px 0 0 0;
        border-radius: 0;

        span {
          margin: 0;
          &:nth-of-type(1) {
            display: none;
          }
          &:nth-of-type(2) {
            display: block;
            font-size: 0.8rem;
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }

    .about {
      background-image: url("images/alpha_icons/biscay/searchlocation.svg");
    }

    .news {
      background-image: url("images/alpha_icons/biscay/news.svg");
    }

    .city {
      background-image: url("images/alpha_icons/biscay/factory.svg");
    }

    .services {
      background-image: url("images/alpha_icons/biscay/services.svg");
    }

    // @media (max-width: $viewport-medium) {
    //   .container {
    //     a {
    //     }
    //   }
    // }
  }

  form#header-search {
    margin: 0 0 0 auto;
    padding: 0;

    fieldset {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      border: none;
    }

    input {
      &[type="search"] {
        font-family: $fontIBM;
        font-size: $font-size-small;
        color: $text-color;
        width: 275px;
        height: 30px;
        border: none;
        padding: 10px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;

        &::placeholder {
          color: lighten($text-color, 5%);
        }
      }

      &[type="submit"] {
        height: 30px;
        margin: 0;
        border: none;
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
      }
    }
  }

  &#homepage {
    .menu-container .nav-items {
      margin: 0 0 0 auto;
    }
  }
}
