#block-searchform .button {
    width:0; height:1em;
    overflow: hidden;
    text-indent: -10em;
    background-repeat:no-repeat;
    background-position: center center;
    background-size:($size-gutter*2) ($size-gutter*2);
    background-image:url('images/fa-svg/white/search.svg');
}
#nav1 {
    a {
        background-size:24px;
        background-repeat:no-repeat;
        background-position:$size-gutter center;
        padding:0 0 0 52px;
        font-size:$font-size-big;
        line-height:4rem;
    }
    .about    { background-image:url('images/alpha_icons/biscay/searchlocation.svg'); }
    .news     { background-image:url('images/alpha_icons/biscay/news.svg'          ); }
    .city     { background-image:url('images/alpha_icons/biscay/factory.svg'       ); }
    .services { background-image:url('images/alpha_icons/biscay/services.svg'      ); }
}
@media all and (min-width:$viewport-medium) {
    #nav1 {
        a {
            display:inline-block; padding:52px 0 0 0;
            background-size:auto 40px;
            background-position:center $size-gutter;

            font-size:$font-size-normal; line-height:1.25em;
        }
    }
}

#services-section, #government-section {
    a {
        display:inline-block;
        text-align:center; vertical-align:top;
        padding-top:7em;

        background-size:6em; background-repeat:no-repeat; background-position:center $size-gutter;
    }
}
#services-section {
    a.contact        { background-image:url('images/alpha_icons/white/messages-circle-o.svg'            ); }
    a.report         { background-image:url('images/alpha_icons/white/exclamation-triangle-circle-o.svg'); }
    a.performance    { background-image:url('images/alpha_icons/white/documentdata-circle-o.svg'        ); }
    a.myBloomington  { background-image:url('images/alpha_icons/white/safecity-circle-o.svg'            ); }
    a.maps           { background-image:url('images/alpha_icons/white/map-circle-o.svg'                 ); }
    a.water          { background-image:url('images/alpha_icons/white/watertap-circle-o.svg'            ); }
    a.parking_ticket { background-image:url('images/alpha_icons/white/ticket-circle-o.svg'              ); }
    a.parks          { background-image:url('images/alpha_icons/white/park-circle-o.svg'                ); }

    a.contact:hover        { background-image:url('images/alpha_icons/white/hover/messages-circle-o.svg'            ); }
    a.report:hover         { background-image:url('images/alpha_icons/white/hover/exclamation-triangle-circle-o.svg'); }
    a.performance:hover    { background-image:url('images/alpha_icons/white/hover/documentdata-circle-o.svg'        ); }
    a.myBloomington:hover  { background-image:url('images/alpha_icons/white/hover/safecity-circle-o.svg'            ); }
    a.maps:hover           { background-image:url('images/alpha_icons/white/hover/map-circle-o.svg'                 ); }
    a.water:hover          { background-image:url('images/alpha_icons/white/hover/watertap-circle-o.svg'            ); }
    a.parking_ticket:hover { background-image:url('images/alpha_icons/white/hover/ticket-circle-o.svg'              ); }
    a.parks:hover          { background-image:url('images/alpha_icons/white/hover/park-circle-o.svg'                ); }
}
#government-section {
    a { color:$color-text-default; }
    a.code          { background-image:url('images/alpha_icons/biscay/circle-o.svg'              ); }
    a.budget        { background-image:url('images/alpha_icons/biscay/moneybag-circle-o.svg'     ); }
    a.boards        { background-image:url('images/alpha_icons/biscay/businessman-circle-o.svg'  ); }
    a.council       { background-image:url('images/alpha_icons/biscay/user-circle-o.svg'         ); }
    a.contact       { background-image:url('images/alpha_icons/biscay/phonecontact-circle-o.svg' ); }
    a.elected       { background-image:url('images/alpha_icons/biscay/policeofficer-circle-o.svg'); }
    a.public_safety { background-image:url('images/alpha_icons/biscay/policecar-circle-o.svg'    ); }

    a:hover {
        background-color:$color-selected-background;
        color:$color-content-background;
        h2 { color:$color-content-background; }
    }
    a.code:hover          { background-image:url('images/alpha_icons/white/circle-o.svg'              ); }
    a.budget:hover        { background-image:url('images/alpha_icons/white/moneybag-circle-o.svg'     ); }
    a.boards:hover        { background-image:url('images/alpha_icons/white/businessman-circle-o.svg'  ); }
    a.council:hover       { background-image:url('images/alpha_icons/white/user-circle-o.svg'         ); }
    a.contact:hover       { background-image:url('images/alpha_icons/white/phonecontact-circle-o.svg' ); }
    a.elected:hover       { background-image:url('images/alpha_icons/white/policeofficer-circle-o.svg'); }
    a.public_safety:hover { background-image:url('images/alpha_icons/white/policecar-circle-o.svg'    ); }
}

.contactInfo {
    address, a {
        display:block;
        font-size:$font-size-normal; font-style:normal;
        padding-left: 3.5rem;
        background-position: left center;
        background-size:2.5rem;
        background-repeat:no-repeat;
    }
    a { line-height:2em; }
    address a { line-height:1em; padding:0; }

    address            { background-image:url('images/alpha_icons/white/location-square.svg'); }
    a.facebook         { background-image:url('images/fa-svg/white/facebook-square.svg'); }
    a.twitter          { background-image:url('images/fa-svg/white/twitter-square.svg' ); }
    a[href^="mailto:"] { background-image:url('images/fa-svg/white/envelope.svg'       ); }
    a.phone            { background-image:url('images/fa-svg/white/phone-square.svg'   ); }
    a.fax              { background-image:url('images/fa-svg/white/fax.svg'            ); }
    a.onboard          { background-image:url('images/icons/white/city_logo.svg'       ); }
}

aside.contactInfo {
    address            { background-image:url('images/fa-svg/dark-slate/map-marker.svg'     ); }
    a.facebook         { background-image:url('images/fa-svg/dark-slate/facebook-square.svg'); }
    a.twitter          { background-image:url('images/fa-svg/dark-slate/twitter-square.svg' ); }
    a[href^="mailto:"] { background-image:url('images/fa-svg/dark-slate/envelope.svg'       ); }
    a.phone            { background-image:url('images/fa-svg/dark-slate/phone-square.svg'   ); }
    a.fax              { background-image:url('images/fa-svg/dark-slate/fax.svg'            ); }
    a.onboard          { background-image:url('images/icons/dark-slate/city_logo.svg'       ); }
}
