#block-searchform .button {
    width:0; height:1em;
    overflow: hidden;
    text-indent: -10em;
    background-repeat:no-repeat;
    background-position: center center;
    background-size:($size-gutter*2) ($size-gutter*2);
    background-image:url('images/fa-svg/white/search.svg');
}

@media all and (min-width:$viewport-medium) {
    #nav1 {
        a {
            display:inline-block; padding-top:52px;
            background-size:auto 40px;
            background-position:center $size-gutter;
            background-repeat:no-repeat;
        }
        .about    { background-image:url('images/alpha_icons/biscay/searchlocation.svg'); }
        .news     { background-image:url('images/alpha_icons/biscay/news.svg'          ); }
        .city     { background-image:url('images/alpha_icons/biscay/factory.svg'       ); }
        .services { background-image:url('images/alpha_icons/biscay/services.svg'      ); }
    }
}

#services-section, #government-section {
    a {
        display:inline-block;
        text-align:center; vertical-align:top;
        padding:7em $size-gutter $size-gutter $size-gutter;

        background-size:6em; background-repeat:no-repeat; background-position:center $size-gutter;
    }
}
#services-section {
    a.contact        { background-image:url('images/alpha_icons/white/messages-circle-o.svg'            ); }
    a.report         { background-image:url('images/alpha_icons/white/exclamation-triangle-circle-o.svg'); }
    a.performance    { background-image:url('images/alpha_icons/white/documentdata-circle-o.svg'        ); }
    a.myBloomington  { background-image:url('images/alpha_icons/white/safecity-circle-o.svg'            ); }
    a.maps           { background-image:url('images/alpha_icons/white/map-circle-o.svg'                 ); }
    a.water          { background-image:url('images/alpha_icons/white/watertap-circle-o.svg'            ); }
    a.parking_ticket { background-image:url('images/alpha_icons/white/ticket-circle-o.svg'              ); }
    a.parks          { background-image:url('images/alpha_icons/white/park-circle-o.svg'                ); }
}
#government-section {
    a.code          { background-image:url('images/alpha_icons/biscay/circle-o.svg'              ); }
    a.budget        { background-image:url('images/alpha_icons/biscay/moneybag-circle-o.svg'     ); }
    a.boards        { background-image:url('images/alpha_icons/biscay/businessman-circle-o.svg'  ); }
    a.council       { background-image:url('images/alpha_icons/biscay/user-circle-o.svg'         ); }
    a.contact       { background-image:url('images/alpha_icons/biscay/phonecontact-circle-o.svg' ); }
    a.elected       { background-image:url('images/alpha_icons/biscay/policeofficer-circle-o.svg'); }
    a.public_safety { background-image:url('images/alpha_icons/biscay/policecar-circle-o.svg'    ); }
}

.contactInfo {
    address, a {
        display:block;
        font-size:$font-size-normal; font-style:normal;
        padding-left: 3.5rem;
        background-position: left center;
        background-size:2.5rem;
        background-repeat:no-repeat;
    }
    a { line-height:2em; }

    address            { background-image:url('images/fa-svg/white/map-marker.svg'     ); }
    a.facebook         { background-image:url('images/fa-svg/white/facebook-square.svg'); }
    a.twitter          { background-image:url('images/fa-svg/white/twitter-square.svg' ); }
    a[href^="mailto:"] { background-image:url('images/fa-svg/white/envelope.svg'       ); }
    a.phone            { background-image:url('images/fa-svg/white/phone-square.svg'   ); }
    a.fax              { background-image:url('images/fa-svg/white/fax.svg'            ); }
    a.onboard          { background-image:url('images/icons/white/city_logo.svg'       ); }
}

aside.contactInfo {
    address            { background-image:url('images/fa-svg/dark-slate/map-marker.svg'     ); }
    a.facebook         { background-image:url('images/fa-svg/dark-slate/facebook-square.svg'); }
    a.twitter          { background-image:url('images/fa-svg/dark-slate/twitter-square.svg' ); }
    a[href^="mailto:"] { background-image:url('images/fa-svg/dark-slate/envelope.svg'       ); }
    a.phone            { background-image:url('images/fa-svg/dark-slate/phone-square.svg'   ); }
    a.fax              { background-image:url('images/fa-svg/dark-slate/fax.svg'            ); }
    a.onboard          { background-image:url('images/icons/dark-slate/city_logo.svg'       ); }
}
