 /**
  * Styles for paragraph types defined in our Drupal site
  *
  * Paragraphs are a special module we installed.
  * @see https://www.drupal.org/project/paragraphs
  *
  * These are not to be confused with HTML P tags.  It is unfortunate
  * that the module happens to call itself with that name.
  */
$card-width:      320px;
$card-height-min: 250px;
$card-height-max: 290px;

#asm_animals         > div,
#interactivemap_maps > div,
#legislationTypes    > div,
#reports             > div,
.departments-block,
.parks-categories-block,
.info-list,
.paragraph--type--info-list {
    text-align:center;

}
@media all and (min-width:$viewport-medium) {
    #asm_animals         > div,
    #interactivemap_maps > div,
    #legislationTypes    > div,
    #reports             > div,
    .departments-block,
    .parks-categories-block,
    .info-list,
    .promt_programs,
    .paragraph--type--info-list > div {
        display:flex; flex-direction:row; flex-wrap:wrap;
        justify-content:space-around;
    }
}


#asm_animals         article,
#interactivemap_maps article,
#legislationTypes    article,
#reports             article,
.departments-block > div,
.parks-categories-block > div,
.info-list         > div,
.info-list         > .info-card,
.promt_programs > article,
.paragraph--type--info-card {
    height:auto;
    article { height:auto; }

    a {
        background-color:$color-table-background;
        color:$color-text-default;
        display:block; margin-bottom:1em;

        height:$card-height-min; overflow:hidden;

        h3 {
            vertical-align:top; color:$color-footer;
            font-family:$font-family-default; font-size:$font-size-big;
        }
        &:hover {
            background-color:$color-selected-background;
            color:$color-content-background;

            h3 { color:$color-content-background; }
        }
        img { width:$card-width - 36px; }
    }

    @media all and (min-width:$viewport-medium) {
        flex-basis:$card-width;
        vertical-align:top; text-align:center;

        a {
            padding:$size-gutter * 2; height:$card-height-max;
            h3 { font-size:$font-size-bigger; margin: 0 0 $size-gutter 0; }
        }
    }
}

.boards-list header {
    font-family:$font-family-heading; font-size:$font-size-big;
    h3 { display:inline; }
}
