section { margin:0; }

@media all and (min-width:$viewport-medium) {
    #intro {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;

        .text_with_summary { flex-basis:55%; margin-right:5%; }
        aside { flex-basis:40%; }
    }
}

@media all and (min-width: $viewport-large) {
    body > header >      .container,
    #nav1                .container,
    body > footer        .container,
    main > div           .container,
    main > section >     .container {
        width:$viewport-large; margin:0 auto;
    }
}
