$size-side-nav: 17em;
#hamburger { position:absolute; clip: rect(0, 0, 0, 0); }
label[for="hamburger"] {
    position: absolute; top:$size-gutter/2; left:$size-gutter/2;
    width:2em; height:2em;
    background-image:url('images/fa-svg/white/bars.svg');
    background-size: contain;
    z-index:1;
    cursor:pointer;
}

#nav1 {
    margin:0; padding:0; border:0;
    width:1px; height:1px; overflow:hidden; position:absolute;

    background-color:$color-content-background;
    .container {
        padding:0; overflow:auto;

        a { color:$color-header; display:block; }
    }
}
#hamburger:checked ~ nav {
    position:static; width:100%; height:auto; overflow:auto;
}


@media all and (min-width:$viewport-medium) {
    #hamburger, label[for="hamburger"] { display:none; }
    #nav1 {
        position:static; width:100%; height:auto; overflow:auto;
        .container {
            display:flex; flex-direction:row; justify-content:space-around;
            a {  }
        }
    }
/*
    #nav1 {
        position:static;
        width:100%; height:auto;
        margin:0;
        background-color:$color-content-background;
        .container {
            padding:0; overflow:auto;
            display:flex; flex-direction:row; justify-content:space-around;

            a { color:$color-header; }
        }
    }
*/
}
