#nav1 {
    position: static;
    width: 100%;
    margin: 0;
    padding: $size-gutter 0;
    border: 0;
    background-color: $color-content-background;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;

        a {
            color: $color-header;
        }

        @media (max-width: $viewport-medium) {
            padding: 0 $size-gutter;

            a {
                font-size: 12px;
                border-right: 1px solid $color-divider;
                // font-size: $font-size-smaller;
                padding: 35px 10px 0 10px;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}