.front #news-section {
    .hasImage {
       .summary {
            display: none;
        }
    }
}

#news-section {
    background: black;

    * {
        box-sizing: border-box;
    }

    .news {
        background: yellow;
        width: 710px;
        float: left;

        .results {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
        }
    }

    aside   {
        width: 320px;
        float: right;
    }

    article {
        margin: 0 0 .5em 0;
    }
}


@media (min-width: $viewport-large) {
    :not(.front) #news-section .news {
        background: pink;
    }

    .front #news-section .results a {
        &:first-of-type {
            width: 100%;

            .hasImage {
                .summary {
                    display: block;
                }
            }
        }

        &:not(:first-child) {
            display: flex;
            width: 50%;

            &:nth-child(even) {
                padding-right: .25em;
            }

            &:nth-child(odd) {
                padding-left: .25em;
            }
        }
    }
}

@media (min-width: $viewport-medium) and (max-width: $viewport-large) {
    :not(.front) #news-section .news {
        width: 100%;

        .results {
            a {
                width: 100%;
            }
        }
    }

    .front #news-section .news {
        width: 100%; background: orange;

        .results a {
            background: blue;

            &:first-of-type {
                width: 100%;

                .hasImage {
                    .summary {
                        display: block;
                    }
                }
            }

            &:not(:first-child) {
                display: flex;
                width: 50%;

                &:nth-child(even) {
                    padding-right: .25em;
                }

                &:nth-child(odd) {
                    padding-left: .25em;
                }
            }
        }
    }
}

@media (max-width: $viewport-medium) {
    :not(.front) #news-section .news {
        width: 100%;

        .results {
            a {
                width: 100%;
                .hasImage {
                   .summary {
                        display: none;
                    }
                }
            }
        }
    }

    .front #news-section .news {
        width: 100%;
        background: green;

        .results a {
            background: blue;
            width: 100%;
        }
    }
}


article.news.teaser {
    background: red;
    position: relative;
    height: 214px;
    overflow: hidden;
    margin: 0;
    padding: $size-gutter;
    border-color: $color-header $color-divider $color-divider;
    border-style: solid;
    border-width: 8px 1px 1px 1px;

    header   {
        margin: 0 0 .5em 0;

        time {
            font-family: $font-family-heading;
            font-weight: bold;
            color: $dark-slate;
        }

        h3 {
            background: purple;
            position: relative;
            max-height: 50px;
            line-height: $font-size-big;
            font-size: $font-size-big;
            font-weight: bold;
            font-family: $font-family-heading;
            color: $color-link;
        }
    }

    .summary {
        color: $color-text-default;
        position: relative;
        line-height: 22px;
        max-height: 89px;
    }

    &.hasImage {
        padding-left: 148px;

        img {
            width: 140px;
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
        }

        header {
            h3 {
                position: relative;
                line-height: 22px;
                max-height: 120px;
            }
        }
    }
}