.news-section-new {
  &.home {
    padding: 60px 0;

    @media (max-width: 767px) { padding: 30px 0; }

    .container { padding: 0 !important; }
  }

  h2 {
    color: $color-text-secondary;
    font-size: $font-size-bigger;
    margin: 0 0 30px 0;

    @media (max-width: 767px) {
      font-size: $font-size-medium;
      margin: 0 0 5px 0;
    }
  }

  form {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid $color-divider;

    > div {
      margin: 0 ($size-gutter * 2) 0 0;

      &:last-of-type { margin: 0; }
    }
  }

  .news {
    a:not(.btn) {
      display: block;
      padding: 15px;
      background-color: $color-table-background;
      border-radius: 3px;
      margin: 0 0 30px 0;

      &:hover,
      &:focus {
        background-color: darken($color: $color-table-background, $amount: 1);
        -webkit-box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.1);
      }
    }

    h2 {
      color: $color-text-secondary;
      margin: 0;
      font-size: $font-size-medium;
    }

    article {
      display: flex;
      margin: 0;

      .entity_reference { margin: 0 15px 0 0; }

      h3 {
        color: $color-text-secondary;
        margin: 0 0 5px 0;
        font-size: $font-size-medium;
      }

      time {
        display: block;
        margin: 5px 0 15px 0;
        color: $color-text-secondary;
        font-size: $font-size-small;
      }

      p { color: $color-text-secondary; }

      @media (max-width: 767px) {
        flex-wrap: wrap;
        .entity_reference { margin: 0 0 15px 0; }

        p  { font-size: $font-size-small; }
        h3 { font-size: $font-size-big; }
      }
    }
  }
}
