//Font Sizes
$font-size-biggest: 3.750rem;
$font-size-bigger:  2.250rem;
$font-size-big:     1.250rem;
$font-size-normal:  1.125rem;
$font-size-small:   1.000rem;
$font-size-smaller: 0.875rem;

$color-heading: $dodger-blue;
$color-footer:  $roman-coffee;
