/**
 * Urls are relative to screen.css
 */
$url-logo: "";
$url-header-background: "";

//Typefaces
@import "https://fonts.googleapis.com/css?family=Lora";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap");
$fontIBM: "IBM Plex Sans", sans-serif;

$serif: "Lora", serif;
$sans: "Roboto", sans-serif;

$font-family-default: $fontIBM;
$font-family-heading: $fontIBM;
$font-family-nav: $sans;
$font-weight-heading: 700;

//Font Sizes
$font-size-huge: 2.8125rem;
$font-size-biggest: 1.6667rem;
$font-size-bigger: 1.4rem;
$font-size-big: 1.25rem;
$font-size-normal: 1.125rem;
$font-size-small: 1rem;
$font-size-smaller: 0.875rem;


$viewport-small: (350px);
$viewport-medium: (640px);
$viewport-large: (1080px);

$size-gutter: 0.5em;

// Breakpoint mixins
@mixin smallViewport {
  @media all and (min-width: #{$viewport-small}) {
    @content;
  }
}
@mixin mediumViewport {
  @media all and (min-width: $viewport-medium) {
    @content;
  }
}
@mixin largeViewport {
  @media all and (min-width: $viewport-large) {
    @content;
  }
}

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
