&About {
    background: $cob-cornflower-dark url('../images/home/home-aboutBtown-map.jpg') 50% 50% no-repeat;
    background-size: cover;
    &-container {
        @include container();
    }
    &-heading {
        @include grid-12col();
        color: #fff;
        font-size: (20rem/16);
        text-align: center;
    }

    &-text {
        background-color: rgba(0, 41, 76, .63); // $cob-cornflower-dark plus .63 opacity
        box-sizing: border-box;
        color: #fff;
        font-size: (14rem/16);
        margin: 0 1rem;
        padding: 1rem;

        &:before {
            display: none;
        }
    }
    &-link {
        @include clearfix();
        color: #fff;
        float: right;
        font-family: $font-headings;
        font-size: (16rem/16);
        line-height: 1em;
        margin: 1rem 0;
        position: relative;
        text-transform: uppercase;
        &:before {
            border-bottom: (4rem/16) solid $cob-cornflower-light;
            border-right: (4rem/16) solid $cob-cornflower-light;
            content: '';
            display: block;
            height: (12em/16);
            margin: .1em .75em 0 0;
            position: absolute;
                right: 100%;
            transform: rotate(-45deg);
            width: (12em/16);
        }
    }
    &-partners {
        > h2 {
            @include visuallyHidden();
        }
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            > li {
                box-sizing: border-box;
                display: table-cell;
                float: left;
                height: (100rem/16);
                margin: 0;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                width: 50%;
                > a {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    vertical-align: middle;
                    > img {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $viewport-small) {
        &-heading {
            font-size: (22rem/16);
        }
        &-partners {
            > ul {
                > li {
                    width: 33%;
                }
            }
        }
    }
    @media screen and (min-width: $viewport-medium) {
        &-container {
            position: relative;
        }
        &-heading {
            font-size: (30rem/16);
            margin: 3rem 0 0 0;
        }
        &-link {
            font-size: (20rem/16);
        }
        &-text {
            float: left;
            margin: 3rem $grid-gutter 4rem (100%*3/12);
            padding: 2rem (100%*1/12);
            &:before {
                background: url('../images/home/indiana-outline.svg') no-repeat 50% 50%;
                background-size: 70% auto;
                box-sizing: border-box;
                content: '';
                display: block;
                float: left;
                opacity: .65;
                padding: 0 $grid-gutter;
                position: absolute;
                    top: 3rem;
                    bottom: 16rem;
                    left: 0;
                width: (100%*3/12);
            }
        }
        &-partners {
            > ul {
                > li {
                    &:nth-child(-n+5) {
                        width: (100%*1/5);
                    }
                    &:nth-child(n+6) {
                        width: (100%*1/4);
                    }
                    &:nth-child(6) {
                        clear: both;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $viewport-large) {
        &-heading {
            font-size: (44rem/16);
        }
        &-text {
            font-size: (16rem/16);
            margin-left: (100%*4/12);
            &:before {
                background-size: contain;
                top: 9rem;
                width: (100%*4/12);
            }
        }
    }
}
