.cob-hero {
    background: url('../images/home-photo1@1x.jpg') no-repeat $cob-gray-light 50% 33%;
    background-size: cover;
    overflow: hidden;
    color:#fff;

    a { color:#fff; }


    &-container {
        @include container();
        > label {
            color: #fff;
            display: block;
            font-family: $font-headings;
            font-size: 2rem;
            font-weight: 300;
        }
    }
    @media screen and (min-width: $viewport-small) {
    }
    @media screen and (min-width: $viewport-medium) {
        &-search {
            text-align: center;
            form {
                margin: 0;
                padding: 0;

                .form-item {
                    font-size: (20rem/16);
                    margin: 3rem 0;
                    padding: .75em;
                    background-size: 1.5em;

                    > label {
                        font-family: $font-headings;
                        font-size: (30rem/16);
                        font-weight: 300;
                        margin: 0 0 .5em;
                    }
                    > input {
                        color: $cob-gray-darkest;
                        font-size: (18rem/16);
                        padding: .666em 1.5em .666em 1em;
                        width: 50%; // 6 out of 12 columns
                    }
                }
                .form-actions { }
            }
        }
    }
    @media screen and (min-width: $viewport-medium) and (max-width: $viewport-large) {
    }
    @media screen and (min-width: $viewport-large) {
    }
}
