{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
<nav    class="usa-breadcrumb" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
    {% for item in breadcrumb %}
        {% if item.text != 'Home' %}
        <li  class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
</nav>
{% endif %}
