.cob-boardsCommissions {
    &-members {
        @include container();

        > h1 {
            font-size: (24rem/16);
            font-weight: normal;
            @include grid-12col();
        }
    }
    &-member {
        // Instead of implementing layout with the grid system,
        // implement this layout manually, so that it has optimized
        // layouts for phones, tablets, and desktops.
        box-sizing: border-box;
        padding-right: ($grid-gutter/2);
        padding-left: ($grid-gutter/2);

        > dt {
            color: $cob-blue-dark;
            font-family: $font-headings;
            font-size: (24rem/16);
            line-height: (30rem/16);
            margin: (10rem/16) 0 0 0;

            &:first-child {
                margin-top: 0;
            }
            > span:last-child {
                font-weight: 600;
            }
        }
        > dd {
            font-size: (14rem/16);
            margin: 0;
        }
    }
    &-apply {
        @include grid-12col();
        clear: both;
    }
    @media screen and (min-width: $viewport-medium) {
        &-members {
            > h1 {
                font-size: (42rem/16);
                font-weight: 300;
            }
        }
        &-member {
            float: left;
            padding-right: $grid-gutter;
            padding-left: $grid-gutter;
        }
        &-apply {
            padding-top: 2rem;
        }
    }
    @media screen and (min-width: $viewport-medium) and (max-width: $viewport-large) {
        &-member {
            width: 33%;
            &:nth-of-type(3n+1) {
                clear: both;
            }
        }
    }
    @media screen and (min-width: $viewport-large) {
        &-member {
            width: 25%;
            &:nth-of-type(4n+1) {
                clear: both;
            }
        }
    }

    // Board and Commissions layout displayed on Department Homepage
    &Widget {
        @include container();

        > h1 {
            @include grid-4col;
            color: $cob-cornflower-darkest;
            font-size: (48rem/16);
            font-weight: 300;
            line-height: 1em;
            margin-top: 0;
        }
        &-listing {
            @include grid-8col;
            margin-top: 0;

            > .cob-mainText {
                font-size: 1rem;
                margin: 0 0 (10rem/16);
                line-height: (22rem/16);

                > h1 {
                    font-weight: 400;
                    font-size: (24rem/16);
                    line-height: (32em/24);
                    margin: 0;
                }
                p:first-child {
                    font-size: 1rem;
                    line-height: (22rem/16);
                    margin-top: 0;
                }
            }
        }
        @media screen and (min-width: $viewport-medium) {
            > h1 {
                font-size: (36rem/16);
            }
        }
        @media screen and (min-width: $viewport-large) {
            > h1 {
                font-size: (48rem/16);
            }
        }
    }
}
