.cl {
    &-container {
        @include container();
        padding-top: 2em;

        > h3:first-child {
            @include visuallyHidden();
        }
        > nav {
            @include grid-2col();

            > a {
                font-size: 2.5em;
                line-height: 1em;
                margin: 0 0 .35em 0;

                &.current {
                    font-size: 3em;
                }
            }
        }
        @media screen and (min-width: $screen-medium){
            > nav {
                > a {
                    clear: right;
                    display: block;
                    float: right;
                }
            }
        }
    }
    &-listing {
        @include grid-10col();

        > dl {
            margin: 0;

            > dt {
                &:before {
                    border-top: 1px solid $cob-gray;
                    clear: both;
                    content: ' ';
                    display: block;
                    margin: 1.5em 0 .75em 0;
                }
                &:first-child:before {
                    border-top: .25rem solid $cob-blue;
                    margin-top: 0;
                }
 
                > time {
                font-size: 1.5rem;
                line-height: 2rem;
                vertical-align: middle;
                white-space: nowrap;
                    > .cl-month {
                        color: $cob-gray-darkest;
                        margin-right: -.25em;
                        position: relative;
                        z-index: 10;
                    }
                    > .cl-dayOfMonth {
                        color: $cob-gray;
                        font-family: Georgia, "Times New Roman", serif;
                        font-size: 3rem;
                        font-style: italic;
                        font-weight: bold;
                        line-height: 2rem;
                        vertical-align: middle;
                        position: relative;
                            top: -.1em;
                        z-index: 9;
                    }
                }
            }
            > dd {
                margin: .5em 0 0;

                > dl {
                    margin: 0;

                    > dt {
                        font-size: (13rem/16);
                        text-transform: uppercase;
                    }
                    > dd {
                        display: inline-block;
                        margin: 0 0 .5em 0;

                        > a {
                            line-height: 1em;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: $screen-medium) {
            > dl {
                > dt {
                    margin-top: 0;
                    > time {
                        float: left;
                        width: 28%;
                    }
               }
                > dd {
                    box-sizing: border-box;
                    float: left;
                    margin: 0 0 .5em 0;
                    padding: 0 1em;
                    width: 24%;

                    &:nth-child(4n+2) {
                        padding-left: 0;
                    }
                    &:nth-child(4n+4) {
                        padding-right: 0;
                    }
                    > dl {
                        > dt {
                            font-size: (12rem/16);
                        }
                        > dd {
                            font-size: (14rem/16);
                        }
                    }
                }
            }
        }
    }
}