.cob-directory {
    &-section {
        @include clearfix();
        margin-top: 1rem;
        > h1 {
            font-size: (20rem/16);
            @include grid-12col();
            margin-top: 1em;
            margin-bottom: .25em;
        }
        @media screen and (min-width: $viewport-small) {
            > h1 {
                font-size: (26rem/16);
            }
        }
        @media screen and (min-width: $viewport-medium) {
            margin-top: 2rem;
            > h1 {
                font-size: (36rem/16);
            }
        }
    }
    &-dept {
        &Info {
            @include grid-3col();
            > h2 {
                color: $cob-cornflower-dark;
                font-size: (18rem/16);
                font-weight: 500;
                margin: 1.5em 0 0 0;
                text-transform: uppercase;
            }
            > dl {
                margin: 0;
                > dt {
                    @include visuallyHidden();
                }
                > dd {
                    display: block;
                    margin: 0 0 .25em 0;
                }
            }
        }
        &Staff {
            @include grid-9col();
            > table {
                > thead {
                    @include visuallyHidden();
                }
                > tbody {
                    tr {
                        display: block;
                        margin: 0 0 .5rem 0;
                        > td {
                            display: block;
                        }
                    }
                    @media screen and (min-width: $viewport-medium) {
                        > tr {
                            display: table-row;
                            &:first-child {
                                > td {
                                    border-top: .25rem solid $cob-blue;
                                }
                            }
                            > td {
                                border-top: (1rem/16) solid $cob-gray;
                                display: table-cell;
                                padding: .25em 1.5em .25em 0;
                            }
                        }
                    }
                }
                @media screen and (min-width: $viewport-large) {

                }
            }
        }
    }
    &-title {
        color: $cob-cornflower-dark;
        display: inline-block;
        font-size: .8em;
        line-height: .8em;
    }
}
