.cob-hero {
    background: url('../images/home-photo1@1x.jpg') no-repeat $cob-gray-light 50% 50%;
    background-size: cover;
    overflow: hidden;
    color:#fff;

    a { color:#fff; }


    &-container {
        @include container();
        padding: 2rem 0;
        text-align: center;
    }
    &-search {
        display: inline-block;
        position: relative;
        .form-item-search-block-form {
            margin: 0;
            > label {
                font-weight: normal;
            }
            > input {
                margin: 0 3em 0 0;
            }
        }
        .form-actions {
            margin: 0;
        }
    }
    @media screen and (min-width: $viewport-small) {
    }
    @media screen and (min-width: $viewport-medium) {
        &-search {
            font-size: (18rem/16);
            margin: 0;
            padding: 0;
            text-align: center;
            .form-item-search-block-form {
                margin: 0;
                padding: 0;

                > label {
                    font-family: $font-headings;
                    font-size: (30rem/16);
                    font-weight: 300;
                    margin: 0 0 .5em;
                }
                > input {
                    color: $cob-gray-darkest;
                    margin: 0 4em 0 0;
                    padding: .666em 1.5em .666em 1em;
                    width: 20em;
                }
            }
            .form-actions {
                > input {
                    height: 2.7em;
                    width: 4em;
                }
            }
        }
    }
    @media screen and (min-width: $viewport-medium) and (max-width: $viewport-large) {
    }
    @media screen and (min-width: $viewport-large) {
    }
}
