.cob-home {
    &Header {
        border-top: 8px solid $cob-blue;

        &-container {
            @include container();
        }
        &-logo {
            display: inline-block;
            margin: 7px 0 7px 0;
            &-image {
                width: (268rem/16);
            }
        }
    }
    &Nav {
        display: inline-block;
        > a {
            border-bottom: .25em solid #fff;
            display: inline-block;
            transition: border-color .25s linear;

            &:hover {
                border-bottom-color: $cob-gray;
            }
        }
    }
    &Main {
        background: url('../images/home-background.jpg') 50% 50% no-repeat $cob-blue;
        overflow: hidden;
        &-container {
            @include container();
            > label {
                color: #fff;
                display: block;
                font-family: $font-headings;
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
    &Search {
        text-align: center;
        &-label {
            color: #fff;
            font-family: $font-headings;
            font-size: (18rem/16);
            font-weight: 300;
        }
    }
    @media screen and (min-width: $screen-medium) {
        &Header {
            padding-top: 1rem;
        }
        &Nav {
            float: right;
            padding: 1rem 0 0;

            > a {
                padding: 1.5em 1em .25em 1em;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        &Search {
            &-label {
                font-size: (42rem/16);
                margin: 1.5em 0 .75em;
            }
            .form-text {
                background: url('../images/search.svg') no-repeat 95% 50% #fff;
                border: 2px solid $cob-blue-dark;
                border-radius: .5em;
                font-size: (20rem/16);
                padding: .75em;
                outline: hidden;
                overflow: hidden;
                transition: background-image .5s ease-in-out;
                width: 17em;

                &:focus {
                    background-image: none;
                    outline: hidden;
                }
            }
        }
    }
}