.cob-home {
    &Header {
        border-top: 8px solid $cob-blue;

        &-container {
            @include container();
        }
        &-logo {
            display: inline-block;
            margin: 7px 0 7px 0;
            &-image {
                width: (268rem/16);
            }
        }
    }
    &Nav {
        display: inline-block;
        > a {
            border-bottom: .25em solid #fff;
            display: inline-block;
            transition: border-color .25s linear;

            &:hover {
                border-bottom-color: $cob-gray;
            }

            &.cob-ext-current {
                border-bottom-color: $cob-blue-light;
            }
        }
    }
    &Announcements {
        background: #fff;
        min-height: 2rem;

        &-container {
            @include container();
        }
        &-heading {
            color: $cob-gray-dark;
            font-size: (16rem/16);
            text-transform: uppercase;
        }
        .cob-mainText {
            > h1 {
                font-size: 1rem;
                line-height: (20rem/16);
            }
        }
    }
    &News {
        @include grid-6col();
        position: relative;
    }
    &Events {
        @include grid-6col();
        position: relative;
    }
    @media screen and (min-width: $screen-medium) {
        &Header {
            padding-top: 1rem;
        }
        &Nav {
            float: right;
            padding: 1rem 0 0;

            > a {
                padding: 1.5em 1em .25em 1em;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        &Announcements {
            background: $cob-gray-dark;
            padding: 2rem 0;

            &-heading {
                font-size: (20rem/16);
            }
            &-container {
                background: #fff;
                margin: 0 1rem;
            }
            &-moreLink {
                @include forwardLink();
                position: absolute;
                    right: $grid-gutter;
                    bottom: 0;
            }
        }
        &Header {
            &-container {
                padding-left: $grid-gutter;
                padding-right: $grid-gutter;
            }
        }
        &News, &Events {
            padding-bottom: 3rem;
        }
    }
    @media screen and (min-width: $screen-medium) and (max-width: $screen-large) {
        &Announcements {
        }
    }
    @media screen and (min-width: $screen-large) {
        &Announcements {
            padding-top: 4rem;
            padding-bottom: 4rem;
            &-container {
                margin: 0 2rem;
            }
        }
    }
    @media screen and (min-width: $layoutMaxWidth) {
        &Announcements {
            &-container {
                margin: 0 auto;
                max-width: ($layoutMaxWidth + ($grid-gutter*4));
                padding: ($grid-gutter) ($grid-gutter*2);
            }
        }
    }
}
