%cob-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 1em;
    overflow: hidden;
    text-indent: -1000em;
    width: 1em;
}
.cob-icon {
    &-calendar {
        @extend %cob-icon;
        background-image: url('../images/fa-svg/calendar-gray.svg')
    }
}
