.cob-main {
    margin: 0 0 4rem 0;

    &-container {
        @include container();
        // IMPORTANT! Following selects only the article element in Main Mode, not Teaser Mode.
        > .cob-mainText {
            @include grid-10col();
            margin-top: 4rem;
        }
        // IMPORTANT! Following selects only the article element in Main Mode, not Teaser Mode.
        > .cob-mainText.cob-ext-hasSidebar {
            @include grid-8col();
            margin-top: 4rem;
        }
    }
    &-content_image { // <- Name matches Drupal Machine Name
        margin: 0 0 1rem 0;
    }
    &-feedback {
        @include grid-12col();
        background: $cob-gray;
        border-top: .5rem solid $cob-blue;
        color: $cob-nightshade;
        padding-bottom: 1rem;
        > h2 {
            font-size: 2rem;
            margin: .5em 0 0;
        }
        @media screen and (min-width: $viewport-medium) {
            > p {
                box-sizing: border-box;
                float: left;
                width: 66%;
            }
            > aside {
                box-sizing: border-box;
                float: left;
                margin: 1rem 0;
                width: 33%;
            }
        }
    }
    .cob-ext-pressContacts {
        > dt {
            color: $cob-blue-dark;
            font-size: (14rem/16);
        }
        > dd {
            font-size: (14rem/16);
            margin: 0;
        }
    }

    .cob-open311Client {
        border: none;
        width: 100%;
    }

    @media screen and (min-width: $viewport-medium) {
        > .cob-ext-pressContacts {
            border-top: .5rem solid $cob-blue;
            border-bottom: (1rem/16) solid $cob-gray;
            float: right;
            margin: 1.5rem (-100%*2/10) 1rem 2rem;
            padding: .5rem 0 0 0;
            width: (100%*4/10);
        }
    }

    @media screen and (min-width: $viewport-large) {
        &-content_image { // <- Name matches Drupal Machine Name
            box-sizing: border-box;
            float: right;
            margin: 0 (-100%*2/10) 0 ($grid-gutter); // <- Two child grid columns in a ten column parent
            padding: 0 0 ($grid-gutter) ($grid-gutter);
            width: (100%*6/10); // <- Six child columns inside a ten column parent
            > img {
                background-color: $cob-gray-light;
                min-height: 10rem;
                width: 100%;
            }
        }
    }
}
