.cob-main {
    margin: 0 0 4rem 0;

    &-container {
        @include container();
        > .cob-main-content {
            @include grid-8col();
            margin-top: 4rem;
        }
    }
    &-content {
        margin-top: 4rem;

        h1 {
            font-size: (24rem/16);
            margin: 0 0 (24rem/16) 0;
        }
        h2 {
            font-weight: bold;
            font-size: (36rem/16);
            margin: (36rem/16) 0 (24rem/16) 0;
            &:first-child {
                margin-top: 0;
            }
        }
        p {
            font-size: (18rem/16);
            line-height: (24rem/16);
            margin: 1em 0;
        }
        &-sidebar {
            @include grid-4col();
            margin-top: 4rem;

            > h2 {
                font-weight: bold;
                font-size: (36rem/16);
                margin: (36rem/16) 0 (24rem/16) 0;

                &:first-child {
                    margin-top: 0;
                }
            }
            > .cob-ext-pressContacts {
                margin: 1.75rem 0 0;

                > dt {
                    color: $cob-blue-dark;
                    font-size: (14rem/16);
                }
                > dd {
                    font-size: (14rem/16);
                    margin: 0;
                }
            }
        }
        @include tabularData();
    }


    @media screen and (min-width: $screen-medium) {
    }
}
