.cob-pageOverview {
    @include clearfix();
    background: $cob-blue;

    > h2 {
        @include visuallyHidden();
    }
    &-container {
        @include container();

        > div {
            color: #fff;
            @include grid-8col();
        }
        > aside {
            @include grid-4col();
            color: #fff;
            position: relative;

            > h3 {
                color: #fff;
                font-family: $font-headings;
                font-size: (30em/16);
                font-weight: 200;
                line-height: (36em/30);
                margin: 0 0 (10em/30) 0;
            }
            > a {
                clear: left;
                color: $cornflower-brightest;
                display: inline-block;
                float: left;
                font-size: (18em/16);
                line-height: (22em/18);
                margin-bottom: (10em/18);
            }
        }
    }
    &-details {
        > .cob-ext {
            &-physicalAddress {
                font-style: normal;
                white-space: pre-line;
            }
        }
    }
    &-contacts {
        @include clearfix();

        > a, div {
            clear: left;
            color: #fff;
            display: block;
            float: left;

            &:visited {
                color: #fff;
            }
        }
        > .cob-ext {
            @mixin commonCode() {
                background-repeat: no-repeat;
                background-position: 0 .1em;
                background-size: 1.32em;
                padding-left: 1.5em;
            }
            &-facebook-page {
                background: url('../images/facebook-square.svg');
                @include commonCode();
            }
            &-twitter-account {
                background: url('../images/twitter-square.svg');
                @include commonCode();
            }
            &-phone_number {
                background: url('../images/phone-square.svg');
                @include commonCode();
            }
            &-email {
                background: url('../images/at-square.svg');
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                @include commonCode();
            }
        }
    }

    @media screen and (min-width: $screen-small) {
        &-details {
            > .cob-ext-details, .cob-ext-physicalAddress {
                box-sizing: border-box;
                float: left;
                padding: 0 $grid-gutter 0 0;
                width: 50%;
            }
        }
        &-contacts {
            box-sizing: border-box;
            float: left;
            padding: 0 0 0 $grid-gutter;
            width: 50%;
        }
    }
    @media screen and (min-width: $screen-medium) {
        &-container {

            > div {
                padding-top: 2em;
                padding-bottom: 2em;
                position: relative;

                &:after {
                    background: #fff;
                    content: ' ';
                    display: block;
                    position: absolute;
                        top: 2em;
                        right: -33px;
                        bottom: 2em;
                    width: 1px;
                }
                > p {
                    font-size: (20em/16);
                    line-height: (30em/20);
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            > aside {
                padding-top: 2em;
                padding-bottom: 2em;
                padding-left: $grid-gutter*2;

                &:before {
                    background: #fff;
                    content: ' ';
                    display: block;
                    position: absolute;
                        top: 2em;
                        bottom: 2em;
                        left: 32px;
                    width: 1px;
                }
            }
        }
        &-details {
            > .cob-ext-details, .cob-ext-physicalAddress {
                width: (100%*3/8);
            }
        }
        &-contacts {
            width: (100%*5/8);
        }
    }
}
