
.form-item-search-block-form {
    > input {
        background: url('../images/search.svg') 95% 50% no-repeat #fff;
        background-size: 1.25em;
        border: 2px solid $cob-blue-dark;
        border-radius: .5em;
        outline: hidden;
        overflow: hidden;
        transition: background-image .5s ease-in-out;
        padding-left: .75em;
        padding-right: .75em;

        &:focus {
            background-image: none;
            outline: 0;
        }
    }
    + .form-actions {
        @include visuallyHidden();
    }

}