
.form-item-search-block-form {
    > input {
        background: url('../images/search.svg') 95% 50% no-repeat #fff;
        background-size: 1.25em;
        border: 2px solid $cob-blue-dark;
        border-radius: .5em;
        box-sizing: border-box;
        outline: 0;
        overflow: hidden;
        padding-left: .75em;
        padding-right: .75em;

        &:focus {
            background-image: none;
            outline: 0;
        }
    }
    + .form-actions {
        @include visuallyHidden();
    }

}
.block-system {
    > .content {
        > .search-form {
            @include container();
            padding-top: 2rem;
        }
    }
}