.block-search {
    position: relative;
}
.form-item-search-block-form {
    > .form-text {
        border: 1px solid $cob-gray-dark;
        border-radius: .5em 0 0 .5em;
        box-sizing: border-box;
        color: $cob-gray-dark;
        outline: 0;
        overflow: hidden;
        padding: .25em .75em;
        width: 15em;

        &:focus {
            outline: 0;
        }
    }
    + .form-actions {
        position: absolute;
        right: 0;
        bottom: 0;
        > input {
            background: $cob-green url('../images/search.svg') 50% 50% no-repeat;
            background-size: auto 70%;
            border: 1px solid $cob-green;
            border-radius: 0 .5em .5em 0;
            color: #fff;
            height: (27em/16);
            overflow: hidden;
            text-indent: -100em;
            width: 3em;
        }
    }
}


// Style enhancements for the SiteHeader
.region-header-site {
    $top-whitespace: .75em;
    > .block-search {
        box-sizing: border-box;
        padding: $top-whitespace 0 0 0;
        form {
            margin: 0;
        }
        .form-item-search-block-form {
            box-sizing: border-box;
            margin: 0;
            padding: 0 3em 0 0;
        }
        .form-text {
            width: 100%;
        }
        .form-actions {
            margin: $top-whitespace 0 0 0;
        }
    }
    @media screen and (min-width: $viewport-medium) {
        > .block-search {
            float: right;
            width: 17em;

            .form-text {
                font-size: (14rem/16);
                padding: .25em .25em .25em .5em;
            }
        }
    }
    @media screen and (min-width: $viewport-large) {
        > .block-search {
            width: (100%*3/12);
            .form-text {

            }
        }
    }
}
