.cob-siteHeader {

    &-container {
        @include container();
        .form-item-search-block-form {
            > label {
                @include visuallyHidden();
            }
        }
    }
    @media screen and (min-width: $screen-small) {
        &-search {
            float: right;
            width: 17em;

            > input {
                padding: .25em;
            }
        }
    }
    @media screen and (min-width: $screen-large) {
        &-search {
            width: 33.33333%;
        }
    }
}
