.cob-siteHeader {
    border-top: 8px solid $cob-blue;

    &-container {
        @include container();
        min-height: 57px;
    }
    &-logo {
        display: inline-block;
        margin: 7px 0 7px 0;
    }
    @media screen and (min-width: $screen-small) {
        &-search {
            float: right;
            width: 17em;

            > input {
                padding: .25em;
            }
        }
    }
    @media screen and (min-width: $screen-large) {
        &-search {
            width: 33.33333%;
        }
    }
}
