.cob-siteFooter {
    background: $cob-nightshade;
    border-top: .5em solid $cob-blue;

    &-sitemap {
        background: $cob-nightshade;
        color: $cob-gray-dark;
        min-height: 1rem;
        padding: 2rem 0;
        > h1:first-child {
            @include visuallyHidden();
        }
        &-container {
            @include container();
        }
        &-region {
            @include grid-2col();
            > p {
                font-size: (12rem/16);
            }
            > .cob-btn-cta {
                display: block;
                font-size: (14rem/16);
            }
        }
        h2 {
            border-top: (1rem/16) solid $cob-gray-darkest;
            color: $cob-gray;
            font-size: (12rem/16);
            font-weight: 400;
            padding: .5em 0 0 0;
            text-transform: uppercase;
        }
        a {
            color: $cob-gray-light;
        }
    }
    &-details {
        background: #000;
        min-height: 1rem;
        &-container {
            @include container();
        }
    }
    &-legalNav {
        display: block;
        margin: 1.5rem 0;
        text-align: center;
        > a {
            color: $cob-gray-dark;
            display: inline-block;
            padding: .25em .5em;
        }
    }
    &-copyright {
        padding: 1rem 0 .5rem;
        text-align: right;
    }
}
