.cob-skipnav {
    @include visuallyHidden();

    &:focus, :active {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}
