// Colors
// Btown Blue
$cob-blue: #315da6;
$cob-blue-light: #4975ba;
$cob-blue-dark: #143a7a;

// Cornflower
$cornflower-brightest: #acf2ff;

// Action Green
$action-green: #20ac59;
$action-green-light: #70bf88;



// Font families
$font-body-copy: 'PT Sans', Verdana, sans-serif;
$font-headings: Lato, 'Helvetica Neue', Arial, sans-serif;


// Viewport size variables
$screen-large: (1024em/16);
$screen-medium: (700em/16);
$screen-small: (400em/16);




// Mixins

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

@mixin clearfix() {
    &:before, &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}





// Grid
$grid-gutter: 2em;

@mixin nestedGridContainer() {
    @media screen and (min-width: $screen-medium) {
        margin: 0 ($grid-gutter*-1);
    }
}
@mixin container {
    @media screen and (min-width: $screen-medium) {
        @include clearfix();
        box-sizing: border-box;
        max-width: (1000em/16);
        margin: 0 auto;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
    }
}

@mixin grid-3col {
    box-sizing: border-box;
    padding: 1em;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        width: (100%*1/4);

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

@mixin grid-4col {
    box-sizing: border-box;
    padding: 1em;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        width: (100%*1/3);

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

@mixin grid-8col {
    box-sizing: border-box;
    padding: 1em;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        width: (100%*2/3);

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

@mixin grid-9col {
    box-sizing: border-box;
    padding: 1em;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        width: (100%*3/4);

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}
