// Colors
// Btown Blue
$cob-blue: #315da6;
$cob-blue-light: #4975ba;
$cob-blue-dark: #143a7a;
$cob-blue-darkest: #06204b;

// Cornflower
$cob-cornflower-lightest: #acf2ff;
$cob-cornflower-light: #5991c2;
$cob-cornflower: #447aa8;
$cob-cornflower-dark: #24537b;
$cob-cornflower-darkest: #12314c;

// Action Green
$cob-green: #20ac59;
$cob-green-light: #70bf88;
$cob-green-lightest: #aaffac;

// Blue-ish gray
$cob-gray-light: #d7e5f4;
$cob-gray: #bcc9d8;
$cob-gray-dark: #8d98a5;
$cob-gray-darkest: #585f68;
$cob-nightshade: #2a2e32; // Darker than darkest

// Warning red
$cob-red: #b54548;
$cob-red-dark: #872528;
$cob-red-darkest: #541214;

// Font families
$font-body-copy: 'PT Sans', Verdana, sans-serif;
$font-headings: Lato, 'Helvetica Neue', Arial, sans-serif;


// Viewport size variables
$screen-large: (1024em/16);
$screen-medium: (700em/16);
$screen-small:  (400em/16);

// Mixins

@mixin clearfix() {
    &:before, &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

@mixin forwardLink() {
    font-family: $font-headings;
    font-size: (20rem/16);
    padding-left: (20rem/16);
    position: relative;
    text-transform: uppercase;

    &:before {
        background: url('../images/forward-arrow.svg') no-repeat 0 50%;
        content: ' ';
        display: block;
        height: (19rem/16);
        margin-top: (-8rem/16);
        position: absolute;
            left: 0;
            top: 50%;
        width: (16rem/16);
    }
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin tabularData() {
    table {
        width: 100%;
        > thead {
            > tr {
                th, td {
                    font-weight: 400;
                    padding: .25em 1em .25em .25em;
                }
            }
        }
        > tbody {
            > tr {
                th, td {
                    padding: .25em 1em .25em .25em;
                }
            }
        }
    }
}




// Grid
$grid-gutter: 2rem;

@mixin nestedGridContainer() {
    @media screen and (min-width: $screen-medium) {
        margin: 0 ($grid-gutter*-1);
    }
}
@mixin container {
    @include clearfix();
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        box-sizing: border-box;
        max-width: (1160rem/16);
        margin: 0 auto;
    }
}

@mixin grid-2col {
    box-sizing: border-box;
    margin: 1rem;

    @media screen and (min-width: $screen-small) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*1/2);
    }
    @media screen and (min-width: $screen-medium) {
        width: (100%*2/12);
    }
}

@mixin grid-3col {
    box-sizing: border-box;
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*1/4);
    }
}

@mixin grid-4col {
    box-sizing: border-box;
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*1/3);
    }
}

@mixin grid-5col {
    box-sizing: border-box;
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*5/12);
    }
}

@mixin grid-6col {
    box-sizing: border-box;
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*1/2);
    }
}

@mixin grid-8col {
    box-sizing: border-box;
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*2/3);
    }
}

@mixin grid-9col {
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        box-sizing: border-box;
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*3/4);
    }
}

@mixin grid-10col {
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        box-sizing: border-box;
        float: left;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%*5/6);
    }
}

@mixin grid-12col {
    margin: 1rem;

    @media screen and (min-width: $screen-medium) {
        box-sizing: border-box;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;
        margin-left: 0;
        margin-right: 0;
        width: (100%);
    }
}
